include ../../common/pug/translation
include ../../common/pug/button

mixin progressRollBtn(move, value=rolls[move.Name], classes=[], blockContent=false, iconOnly=false)
  - let i18n_key = move.id.replace("move-", "move-title-")
  +actionBtn("progress-roll", value, i18n_key, classes, blockContent, iconOnly)

//- remember, there's some weirdness to be accounted for with repeating sections
//- progress_name
//- [[@{progress-filled}]]

