include ../../common/pug/button

mixin progressRollBtn(progressAttr, content, label, description, classes=[])
  button(
    type="action"
    name="act_roll-progress"
    data-action-score=progressAttr
    class=[...classes, "sf-icon-2d10"]
  )

mixin progressRepeatingRollBtn(moveId)
  - let i18n = moveId ? moveId.replace("move-", "move-title-") : "roll"
  - let data = { i18n }
    +actionBtn("roll-progress", data, classes)
