mixin statRollBtn(attr, content, label, description, classes=[])
  button(
    type="action"
    name="act_roll-action"
    data-stat=`[[@{${attr}}]]`
    class=[...classes, "sf-icon-1d6"]
    )&attributes(translateElement(content, label, description))
    !=translation[content]