mixin challengeRankRadio()
  div.challenge-rank-radio
    each challengeRank, index in challengeranks
      label.challenge-rank-option
        if challengeRank.checked
          input(type="radio" class="hide-element" name="attr_rank" value=index checked)
        else
          input(type="radio" class="hide-element" name="attr_rank" value=index)
        - var translation = `difficulty-${challengeRank.text}`
        h5(data-i18n=translation)=translation[translation]