mixin challengeRankRadio()
  div.challenge-rank-radio
    each challengeRank, index in challengeranks
      label.challenge-rank-option
        input(type="radio" class="switch-display" name="attr_rank" value=index checked=challengeRank.checked||false)
        - var translation = `difficulty-${challengeRank.text}`
        h5
          +i18n(translation)