include ../../../common/pug/button
include ../../rolls/progressRollBtn

mixin progressClearBtn(trackName, classes=[])
  - let attr = `${trackName}-filled`
  +actionBtn("progress-clear", {attr, i18n: "clear-btn"}, classes)
    block

mixin progressMarkBtn(attrPrefix="progress", classes=[])
  +actionBtn("progress-mark", {i18n: "progress-mark"}, classes)
    block

mixin progressRecommitBtn(classes=[])
  +actionBtn("progress-recommit", {i18n: "recommit"}, classes)
    block

mixin progressAbandonBtn(classes=[])
  +actionBtn("progress-abandon", {i18n: "forsake"}, classes)
    block
//-

