include ../../components/tabs/tabs
include ../../components/resources/resources
include ../../components/resources/resourcemeter
include ../page
include ../common/vows
include ../common/connections
include ../common/progress
include ../common/ship

- var sheetType = 'shared'

header
  +resources(sheetType)
  +pageTabList(sheetType)

+pageMain(sheetType)
  +vowsPage(sheetType)
  +connectionsPage(sheetType)
  +progressPage(sheetType)
  +shipPage(sheetType)