.stats
  justify-content space-evenly
  align-items center
  text-align center

  editToggle("stats")

  > section
    display flex
    flex-flow row
    gap 1em

    &.editor-on, &.editor-off
      .stat
        borderCommon()

        display flex
        flex-direction column
        justify-content center
        align-items center

      .stats-input
        display flex
        width stretch
        height stretch
        border 0
