include ../progress/mixins/progressTrack
include ../progress/mixins/challengeRankRadio


mixin input(id, classes=[], nameValue)
  input(
    type="text"
    class=[id, ...classes]
    data-i18n-placeholder=id
    placeholder=translation[id]
    name=nameValue
  )

mixin repeatingVow()
  +progressTrack(["vow"], "progress", "move-fulfill-your-vow")
    +input("vow-name", ["progress-name"], 'attr_vow_name')
    +challengeRankRadio()
    +progressRecommitBtn()