include ../../components/legacies/legacy-tracks
include ../page
include ../../components/resources/mixins/xp



mixin legaciesPage(sheetType)
  +page("legacies", sheetType)
    section.experience
      +characterLegacyXp
    section.legacies
      for legacy in legacies
        +legacyTrack(legacy)