include ../page
include ../../components/generic/preview
include ../../components/moves/moves

mixin movesPage(sheetType)
  +page("moves", sheetType)
    +previewList("move")
      each group in movegroups
        +moveGroup(group)
    +previewMain
      each move in moves.Moves
        +moveRulesArticle(move, false)
