include ../../components/impacts/impacts
include ../../components/vows/vow-container
include ../../components/stats/stats
include ../page
include ../../components/resources/mixins/xp
include ../../components/legacies/legacy-tracks

mixin summaryPage(sheetType)
  +page("summary", sheetType)
    +stats()
    - impactArray = impacts.filter(obj => { return obj.title !== 'ship' })
    section.impacts
      +impacts(impactArray, { title: true, customImpacts: true}, "character-impacts")
    section.legacies
      h3.title
        +i18n("page-summary-legacies")
      +characterLegacyXp
      for legacy in legacies
        +legacyTrack(legacy)
    include ../../components/notes/notes