  //- include ./scripts/_3-classes.js
  //- include ./scripts/_4-tests.js
  //- include ./scripts/askTheOracle.js
  //- include ./scripts/attributes.js
  //- include ./scripts/assets.js
  //- include ./scripts/connections.js
  //- include ./scripts/impacts.js
  //- include ./scripts/legacies.js
  //- include ./scripts/migration.js
  //- include ./scripts/momentum.js
  //- include ./scripts/moves.js
  //- include ./scripts/oracles.js
  //- include ./scripts/pages.js
  //- include ./scripts/progress.js
  //- include ./scripts/resources.js
  //- include ./scripts/ship.js
  //- include ./scripts/toggleEdit.js
  //- include ./scripts/vows.js
  //- include ./scripts/widgets.js