
script(type="text/worker")
  |
  |
  include ./scripts/_data.js
  |
  |
  include ./scripts/_utilities.js
  |
  |
  include ./scripts/askTheOracle.js
  |
  |
  include ./scripts/moves.js
  |
  |
  include ./scripts/pages.js
  |
  |
  include ./scripts/progress.js
  |
  |
  include ./scripts/momentum.js
  |
  |
  include ./scripts/legacies.js
  |
  |
  include ./scripts/impacts.js
  |
  |