.sector-map
  display:flex;
  --s: 49px;
  --m: 1px; 
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
  height: 32em;

  .sector-map-container
    font-size: 0;

    label
      width: var(--s);
      margin: var(--m);
      height: calc(var(--s)*1.1547); 
      display: inline-block;
      font-size:initial;
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
      background: white;
      margin-bottom: calc(var(--m) - var(--s)*0.2885);
      padding: 0
      cursor pointer
      &:hover
        background: #E6E7E8;
      &::before
        box-sizing: none
      &::after
        box-sizing: none
        

  .sector-map-container::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
  }

  .map-hex
    &.highlighted
      background: #faf27e;
    &.travelled
      background: #abb2c7;
    &.current
      background: url("https://raw.githubusercontent.com/aureyia/roll20-character-sheets/startforged-locations/Ironsworn-Starforged/src/app/img/assets/ship.svg?sanitize=true");
  
  
.sector-hex-content
  .single-hex
    display: none
    &.highlighted
      display: block
    
    .current-button, .travelled-button
      &.active
        background #4C4D4F
        color white
    .location-action-header
      display grid
      grid-template-areas "a b"
      padding 0em 1em
    
    .location-container
      padding 0em 1em

input[type=checkbox].location-toggle:checked + div.location-card
  display block
  show-hide()

label.map-hex.energy-storm
  background: url(https://raw.githubusercontent.com/aureyia/roll20-character-sheets/startforged-locations/Ironsworn-Starforged/src/app/img/assets/energy-storm.svg?sanitize=true);
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
