# node
src/node_modules/

# build files
dist/
temp/

#vscode
.vscode/
*workspace*

#osx
.DS_store

# prettier
.prettierrc
.prettierignore

# stylint
.stylintrc
.stylintignore

# r20's stylesheets for use as reference
styles-r20/

# eslint
.eslintrc