include ../../components/maps/sector-map
include ../../components/maps/sector-content

mixin overview 
  //- Map
  .map-container
    +sectorMap()
  //- Summary of Locations
  .sector-summary
    .locations
      +sectorContent()
      //- repeating section of all locations
      //- a new location is added when one is generated from the location builder
      //- +locations()