include ./page
include ./contents/connections
include ./contents/vows
include ./contents/progress
include ./contents/ship
include ./contents/moves
include ./contents/assets
include ./contents/summary
include ./contents/oracles
include ./contents/legacies
include ../components/resources/resources

//- Commented out for first release
//- input.changelog(
//-   type='hidden',
//-   name='attr_changelog'
//-   )
//- .changelog
//-   button(
//-     name="act_close_changelog"
//-     value='1.0.0'
//-   )
//-     +i18n('page-info-close')
//- see the FIXME w/ compareSemVer in pages.js


//- formerly: -1 => select, 0 => character, 1 => shared
//- FIXME migrating away from these cuz r20 gets upset about css selectors for numeric [value=*]

input(type="hidden" name="attr_mode" value="sheet-select")
.ironsworn-sheet#sheet-select(role="dialog")
  h1.mode-title
    +i18n('page-select')
  nav.modes
    each page, index in sheets
      label.mode
        img.mode-image(src=`https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ironsworn-Starforged/assets/${page.name}-sheet.png` data-i18n-alt=`page-name-${page.name}` )
        button(type="action" name="act_set-mode" value=`sheet-${page.name}`)
          +i18n(`page-name-${page.name}`)
.ironsworn-sheet#sheet-character
  header
    +resources("character")
    include ../components/momentum/momentum
    +pageTabList("character")
    button(type="action" value="51", name="act_ask-the-oracle") Ask the Oracle (50/50)
  +pageMain("character")
    +summaryPage("character")
    +connectionsPage("character")
    +vowsPage("character")
    +assetsPage("character")
    +movesPage("character")
    +progressPage("character")
    +oraclesPage("character")
    +legaciesPage("character")
    +shipPage("character")
.ironsworn-sheet#sheet-shared
  header
    +resources('shared')
    +pageTabList('shared')
  +pageMain('shared')
    +vowsPage('shared')
    +connectionsPage('shared')
    +progressPage('shared')
    +shipPage('shared')
