.page-tablist
  display flex
  flex-flow row wrap
  border 1px solid $color_fg
  margin 0
  & > .page-tab
    flex 1
    flex-basis 20%
    min-width max-content
    width 100%

input.tabber, input.pager
  for sheetName, sheetData in $sheets
    &[name=attr_sheet-{sheetName}-display]
      for pageName in (sheetData.pages)
        &[value=page-{pageName}]
          ~ .page-tab[name=act_set_sheet-{sheetName}-display][value=page-{pageName}]
            interactiveAltColor($color_bg, $color_fg)
          ~ article#sheet-{sheetName}-page-{pageName}
            visOn()
        &:not([value=page-{pageName}])
          ~ article#sheet-{sheetName}-page-{pageName}
            visOff()