@import './../common/stylus/shared'
@import './mixins/outcomes'
@import './mixins/rolls'
@import './oracles/oracles'

.sheet-rolltemplate-starforged_moves, .sheet-rolltemplate-starforged_progress
  .sheet-roll-container
    roll-container()
    a[href^="!"], a[href^="~"]
      background-color transparent
      padding 5px
      color $color_bg
      display inline-block
      border none
      text-transform uppercase
      font-weight bold
      width 100%
      text-align center
  .sheet-result-row
    display flex
    justify-content space-between
  .inlinerollresult
    inline-roll()
  .sheet-action-score
    .fullfail
      border 2px solid $miss-color
    .fullcrit
      border 2px solid $strong-hit-color
  .sheet-challenge-dice
    .fullfail
      border 2px solid $strong-hit-color
    .fullcrit
      border 2px solid $miss-color
  .sheet-roll-outcome
    result-row()
  .sheet-subheader
    sub-base($subheader-bg, $content-padding)
    text-transform uppercase
    font-style normal
  .sheet-subfooter
    sub-base($result-bg, $subfooter-padding)
    width 100%
    font-style italic
  .sheet-result-body
    padding $content-padding
  .sheet-alert
    margin 0.2em 0.3em 0.2em 0.3em
    border-radius 1em
    width auto
    padding 0.5em
  .sheet-opportunity
    outcome-base($strong-hit-color)
  .sheet-strong-hit
    outcome-base($strong-hit-color) // fade?
  .sheet-weak-hit
    outcome-base($weak-hit-color)
  .sheet-miss
    outcome-base($miss-color) // fade?
  .sheet-complication
    outcome-base($miss-color)
  .userscript-tcat
    font-weight 700
  .sheet-momentum-title
    line-height 22px
  .sheet-roll-button
    justify-content center
    background #5e5d6f
    border-radius 0.4em
    margin 0.2em
    interactiveHover(#9290ad)