include ./mixins/actions
include ./mixins/customRows

rolltemplate.sheet-rolltemplate-alert
  .sheet-roll-container
    +tplHeader("header")
    .sheet-result-body
      | {{#message}}
      .sheet-result-row
        !=`{{message}}`
      | {{/message}}
      | {{#rulestext}}
      .sheet-rules-text
        | {{rulestext}}
      | {{/rulestext}}
      +actionScore
      //- note that this template doesn't calculate hits/miss. this is intentional, so it can display e.g. the static momentum action score for momentum burn, or the challenge dice rolls for recommiting to a vow
      +challengeDice
      +customRows
      .sheet-footer
        | {{#footer}}
        .sheet-footer-content!=` {{footer}} `
        | {{/footer}}
        | {{#buttons}}
        .sheet-btn!=` {{buttons}} `
        | {{/buttons}}