include ./outcomes
include ./body
include ../../components/moves/mixins/container

mixin standardAction()
  | {{#rollGreater() computed::outcomeOpportunity 0}}
  +opportunity
  | {{/rollGreater() computed::outcomeOpportunity 0}}
  | {{#rollGreater() computed::outcomeStrongHit 0}}
  +strongHit
  | {{/rollGreater() computed::outcomeStrongHit 0}}
  | {{#rollGreater() computed::outcomeWeakHit 0}}
  +weakHit
  | {{/rollGreater() computed::outcomeWeakHit 0}}
  | {{#rollGreater() computed::outcomeMiss 0}}
  +miss
  | {{/rollGreater() computed::outcomeMiss 0}}
  | {{#rollGreater() computed::outcomeComplication 0}}
  +complication
  | {{/rollGreater() computed::outcomeComplication 0}}


mixin standardActionWithMomentum()
  +standardAction
  | {{#rollGreater() computed::momentumBurnOpportunity 0}}
  +momentumOpportunity
  | {{/rollGreater() computed::momentumBurnOpportunity 0}}
  | {{#rollGreater() computed::momentumBurnStrongHit 0}}
  +momentumStrongHit
  | {{/rollGreater() computed::momentumBurnStrongHit 0}}
  | {{#rollGreater() computed::momentumBurnWeakHit 0}}
  +momentumWeakHit
  | {{/rollGreater() computed::momentumBurnWeakHit 0}}
