mixin challengeDice
  .sheet-result-body.sheet-result-row
    div
      +i18n('challenge-dice')
    div.sheet-challenge-dice {{challenge1}} {{challenge2}}

mixin actionBody(type=action)
  .sheet-result-body.sheet-result-row.sheet-action-score
    .sheet-label
      +i18n('action-score')
    //- .sheet-arithmetic
    //-   .sheet-die $[[0]]
    //-   !=` + `
    //-   .sheet-stat {{stat}}
    //-   !=` + `
    //-   .sheet-add {{add}}
    //-   !=` = `
    .sheet-total {{#{type}}}
  +challengeDice

mixin progressBody
  .sheet-result-body.sheet-result-row
    div {{progress_type}} Progress:
    div {{progress}}
  +challengeDice
  //- TODO: figure out the most sensible way to handle translation strings here

mixin limitAlert
  div.sheet-result-body.sheet-result-row
    div.i18n-text.sheet-subfooter.sheet-alert(data-i18n='action-score-limit-alert')=translation['action-score-limit-alert']