mixin challengeDice
  | {{#challenge-die-1}}
  | {{#challenge-die-2}}
  .sheet-result-row
    .sheet-label
      +i18n('challenge-dice')
    .sheet-challenge-dice {{challenge-die-1}} {{challenge-die-2}}
  | {{/challenge-die-2}}
  | {{/challenge-die-1}}

mixin challengeDiceOld
  .sheet-result-row
    .sheet-label
      +i18n('challenge-dice')
    .sheet-challenge-dice {{challenge1}} {{challenge2}}


//- now universal to progress moves and action rolls
//- defaults to a progress move if no action-die is computed
mixin actionScore
  | {{#computed::action-score}}
  .sheet-result-row.sheet-action-score
    //- if there's a challenge dice and no
    | {{#computed::action-die}}
    .sheet-label
      +i18n('action-score')
    | {{/computed::action-die}}

    | {{^computed::action-die}}
    | {{#challenge-die-1}}
    .sheet-label
      +i18n('nav-progress')
    | {{/challenge-die-1}}
    | {{^challenge-die-1}}
    .sheet-label
      +i18n('action-score')
    | {{/challenge-die-1}}
    | {{/computed::action-die}}

    .sheet-arithmetic
      | {{#computed::action-die}}
      .sheet-action-die {{computed::action-die}}
      | {{#stat}}
      .sheet-arithmetic-symbol!=` + `
      .sheet-stat {{stat}}
      | {{/stat}}
      | {{#adds}}
      .sheet-arithmetic-symbol!=` + `
      .sheet-adds {{adds}}
      | {{/adds}}
      .sheet-arithmetic-symbol!=` = `
      | {{/computed::action-die}}
      .sheet-total {{computed::action-score}}
  | {{/computed::action-score}}


mixin actionRollBodyOld(type="action")
  .sheet-result-row
    div.i18n-text(data-i18n='action-score')=translation['action-score']
    div.sheet-action-score {{#{type}}}
  +challengeDiceOld


mixin progressBody
  .sheet-result-row.sheet-action-score
    .sheet-label
      +i18n('nav-progress')
    .sheet-total {{computed::action-score}}
  +challengeDice
  //- TODO: figure out the most sensible way to handle translation strings here

mixin progressBodyOld
  .sheet-result-row
    div {{progress_type}} Progress
    div {{progress}}
  +challengeDice
  //- TODO: figure out the most sensible way to handle translation strings here

mixin limitAlert
  | {{#rollGreater() action-score 10}}
  | {{#rollGreater() computed::action-die 0}}
  .sheet-result-row
    .i18n-text.sheet-footer.sheet-alert(data-i18n='action-score-limit-alert')=translation['action-score-limit-alert']
  | {{/rollGreater() computed::action-die 0}}
  | {{/rollGreater() action-score 10}}

mixin limitAlertOld
  .sheet-result-row
    .i18n-text.sheet-footer.sheet-alert(data-i18n='action-score-limit-alert')=translation['action-score-limit-alert']