mixin tplHeader(templateVar="title")
  div(class=["sheet-header", "sheet-starforged-icon-{{icon}}"])
    | {{#surtitle}}
    span.sheet-surtitle!=`{{surtitle}}`
    | {{/surtitle}}
    span.sheet-title!=`{{${templateVar}}}`
    | {{#subtitle}}
    span.sheet-subtitle!=`{{subtitle}}`
    | {{/subtitle}}
