include ./body

//- TODO: something to handle stuff that upgrades/downgrades roll results, such as Take Decisive Action
mixin strongHitMatch
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit-match
    .sheet-subfooter
      +i18n('roll-strong-hit-match')

mixin strongHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit
    .sheet-subfooter
      +i18n('roll-strong-hit')

mixin momentumStrongHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit
    .sheet-subfooter
      +i18n('momentum-burn-strong-hit')
      +actionBtn("burn-momentum", null, null, ["burn-momentum"], true)
//- TODO: additional mixin for burning momentum for a strong hit with a match?
mixin weakHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-weak-hit
    .sheet-subfooter
      +i18n('roll-weak-hit')

mixin momentumWeakHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-weak-hit
    .sheet-subfooter
      +i18n('momentum-burn-weak-hit')
      +actionBtn("burn-momentum", null, null, ["burn-momentum"], true)

mixin miss
  .sheet-result-row.sheet-roll-outcome
    .sheet-miss
    .sheet-subfooter
      +i18n('roll-miss')

mixin missMatch
  .sheet-result-row.sheet-roll-outcome
    .sheet-miss-match
    .sheet-subfooter
      +i18n('roll-miss-match')
