include ./body

//- TODO: something to handle stuff that upgrades/downgrades roll results, such as Take Decisive Action
-
  function inlineMomentumBurn(hitType) {
    return `[{{burn_${hitType}}}](~{{header}}|momentum-burn)`
  }

mixin strongHitMatch
  .sheet-result-row.sheet-roll-outcome
    .sheet-subfooter.sheet-strong-hit-match
      +i18n('roll-strong-hit-match')

mixin strongHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-subfooter.sheet-strong-hit
      +i18n('roll-strong-hit')

mixin momentumStrongHit
  .sheet-result-row.sheet-strong-hit.momentum-burn.btn
    !=inlineMomentumBurn("strong")

//- TODO: additional mixin for burning momentum for a strong hit with a match?
mixin weakHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-subfooter.sheet-weak-hit
      +i18n('roll-weak-hit')

mixin momentumWeakHit
  .sheet-result-row.sheet-weak-hit.momentum-burn.btn
    !=inlineMomentumBurn("weak")

mixin miss
  .sheet-result-row.sheet-roll-outcome
    .sheet-subfooter.sheet-miss
      +i18n('roll-miss')

mixin missMatch
  .sheet-result-row.sheet-roll-outcome
    .sheet-subfooter.sheet-miss-match
      +i18n('roll-miss-match')
