include ./body

//- TODO: something to handle stuff that upgrades/downgrades roll results, such as Take Decisive Action

mixin chatActionBtn(action, i18n_key, rollContent="rollId")
  !=`[`
  +i18n(i18n_key)
  !=`](~{{character_name}}|${action}||${rollContent})`

mixin inlineMomentumBurn(hitType)
  +chatActionBtn(`momentum-burn`, `momentum-burn-${hitType}`)

mixin strongHitMatch
  .sheet-roll-outcome.sheet-strong-hit-match
    +i18n('roll-strong-hit-match')

mixin strongHit
  .sheet-roll-outcome.sheet-strong-hit
    +i18n('roll-strong-hit')

mixin momentumStrongHit
  .sheet-strong-hit.momentum-burn.btn
    +inlineMomentumBurn("strong-hit")

mixin momentumStrongHitMatch
  .sheet-strong-hit-match.momentum-burn.btn
    +inlineMomentumBurn("strong-hit-match")

mixin weakHit
  .sheet-roll-outcome.sheet-weak-hit
    +i18n('roll-weak-hit')

mixin momentumWeakHit
  .sheet-weak-hit.momentum-burn.btn
    +inlineMomentumBurn("weak-hit")

mixin miss
  .sheet-roll-outcome.sheet-miss
    +i18n('roll-miss')

mixin missMatch
  .sheet-roll-outcome.sheet-miss-match
    +i18n('roll-miss-match')
