include ../../components/legacies/legacy-tracks
include ../page

- legacies = [ 'quests', 'bonds', 'discoveries' ]

mixin legaciesPage(sheetType)
  +page("legacies", sheetType)
    .legacies
      for legacy in legacies
        +legacyTrack(legacy)