include ../page

mixin progressPage(sheetType)
  div.page-container.page-progress
    input(type='radio' name=`attr_${sheetType}_page` class='progress-page hide-element' value='4')
    div.showhide
      include ../../components/progress/progress