- var legacyVows = [ 1, 2, 3, 4, 5 ]
include ../../components/vows/vow-container

mixin vowsPage(sheetType)
  if sheetType == 'shared'
    +pageContent("vows", sheetType, 2, true)
      fieldset.repeating_vow
        +repeatingVow()
  else
    +pageContent("vows", sheetType, 2)
      fieldset.repeating_vow
        +repeatingVow()