include ./../resources/mixins/conditionMeter.pug

mixin momentumBar
  section.momentum
    h3.momentum-header
      +i18n("momentum")
    .momentum-status-box
      +attrSpan('momentum-maximum', "momentum_max")
    +conditionMeterBar("momentum", "momentum", "momentum", 2, -6, 10, true)
    +actionBtn("momentum-burn", null, null, ["momentum-burn"], true)
      +i18n("momentum-burn")
      span!=" &raquo; "
      span(name="attr_momentum_reset").attr-span

mixin momentumSpinner
  section.momentum
    input(type='hidden' name=`attr_momentum_reset` value=2)
    +momentumBurnBtn({i18n: "momentum", "i18n-title": "momentum-burn-description"})
    section.momentum-status-box
      +attrSpan('momentum-maximum', "momentum_max")
    +attrSpinner("momentum", 2, -6, 10)

mixin momentumBurnBtn(data)
  +actionBtn("momentum-burn", data, ["momentum-burn", "sf-icon-momentum-burn"])
