
#momentum-header
  text-transform uppercase
  dark()

#momentum
  display flex
  flex-flow column
  text-align center
  .momentum-status-box, .resource-meter-box
    borderCommon()

#momentum-bar
  display flex
  .resource-meter
    display contents

.attr-span
  display contents
