
.repcontrol, .repcontainer.editmode .repitem .itemcontrol
  display flex
  justify-content space-between

  .btn
    btn()

    width max-content

  .btn-danger
    background-color $color_warning
    color white

  .repcontrol_move, .repcontrol_del, .repcontrol_edit
    float revert
