
mixin modal(modalId, modalTitle, buttonText="Edit...", btnClasses=[])
  //- shorthand modal for when the button lives right next to the href'd content
  +modalButton(modalId, buttonText, btnClasses)
  +modalDialog(modalId, modalTitle)
    block

mixin modalButton(modalId, buttonText=false, classes=[])
  a(href="#"+modalId class=["modal-button", ...classes])
    !=buttonText

mixin modalDialog(modalId, modalTitle, classes=[])
  .modal-overlay(id=modalId)
    aside(class=["modal-dialog", ...classes])
      if (modalTitle)
        h2.modal-title=modalTitle
      block
      a(href="#close", title="Close").close-dialog!="close"