
mixin modal(modalId, modalTitle, buttonText="Edit")
  //- shorthand modal for when the button lives right next to the href'd content
  +modalButton(modalId, buttonText)
  +modalDialog(modalId, modalTitle)
    block

mixin modalButton(modalId, buttonText, classes=[])
  if buttonText
    - classes = ["modal-button", ...classes];
  else
    - classes = ["modal-button", "icon-only", ...classes];
  a(href="#"+modalId, class=classes)
    !=buttonText

mixin modalDialog(modalId, modalTitle, classes=[])
  .modal-overlay(id=modalId)
    aside(class=["modal-dialog", ...classes])
      if (modalTitle)
        h2.modal-title=modalTitle
      block
      a(href="#close", title="Close").close-dialog!="close"