
// add to a parent selector to set the color on a specific type
toggleBtn($color)
  .toggle-btn
    btn()
  input[type=checkbox].toggle-control
    display none
    & + .toggle-btn
      colorThemeLightColor($color_fg)
      outline-width 2px
      outline-style solid
    &:checked + .toggle-btn, & + .toggle-btn:hover
      colorThemeDarkColor($color_fg)
      outline-color $color

toggleBtn($color_fg)

.static-btn
  btn()

  .btn-content, span
    padding 0.2em
    width 100%
    text-align center

  span
    padding 4px 2px
  input[type=checkbox]
    display none

.btn-input
  &:checked
    & ~ .btn-content
      background $color_fg
      color $color_bg

button
  &.placeholder-button
    background-image none !important
    opacity 100% !important
    cursor default !important
    pointer-events none !important

// hex buttons
hexButtonIcon($bg_color, $fg_color, $icon)
  btn($bg_color, $fg_color, 0, 0)
  iconBtn($icon)
  hexClip($h2_size)

hexButtonFontIcon($bg_color, $fg_color, $content, $font = "Pictos")
  display flex
  justify-content center
  align-self center
  align-items center
  padding 0.2em
  width max-content
  height max-content
  border none
  background none
  color $fg_color
  text-align center
  line-height 1
  cursor pointer
  grid-area close
  text-anchor middle
  btn($bg_color, $fg_color, 0, 0)
  hexClip($h2_size)

  &:before
    display flex
    align-self center
    width min-content
    height min-content
    background transparent
    color inherit
    content $content
    font-family $font

button[type="action"].close-preview-display
  hexButtonFontIcon($color_danger, white, "*")