.list-group
  borderCommon()
  border-width 4px
  background-color $color-fg
  // box-sizing border-box
  margin 0em
  margin-bottom 1em
  height fit-content
  break-inside avoid
  border-radius 1em
  overflow hidden
  .list-group-title
    color $color-bg
    font-size 1.4em
    font-weight bold
    padding 0 5px 3px
    text-transform uppercase
    text-align center
    display inline-block
    vertical-align text-bottom
    width stretch
  ul
    display grid
    gap 4px
    padding 0
    margin 0
    border 0
    width auto
    // border-bottom-left-radius 1em
    // border-bottom-right-radius 1em
    overflow hidden
    li
      padding 0
      margin 0
      border 0
      border-radius 0
    li.list-group-item
      height min-content
      list-style-type none
      margin 0px
      background none
      display flex
      gap 4px
      &:before
        all: initial
      & > *
        background-color $color-bg
      &:nth-child(2n) > *
        background-color $color-bg-alt
      label.toggle-btn
        width stretch
        margin 0
        border 0
        outline 0
        span
          display flex
          justify-content center
          align-items center
      button.icon-only, button.placeholder-button
        height 1.75em
        width 1.75em
        flex-grow 0
        flex-shrink 0
        border 0
        margin 0
