mixin listGroup(title, i18n=true)
  section.list-group
    if (i18n==true)
      h3.i18n-text(data-i18n=title).list-group-title=translation[title]
    else
      h3.list-group-title=title
    ul
      block

mixin listGroupItem()
  li.list-group-item
    block