mixin listGroup(title_i18n)
  section.list-group
    h3.i18n-text(data-i18n=title_i18n).list-group-title=translation[title_i18n]
    ul
      block

mixin listGroupItem()
  li.list-group-item
    block

mixin listGroupOverview(contentType)
  input(type='radio' class=`hide-element ${contentType}-overview` name=`attr_view_mode_${contentType}` value='1' checked)
  div(class=`${contentType}-overview showhide`)
    //-  list-group-container
    //- input(type='radio' class='hide-element' name=`attr_selected_${contentType}`)
    block

mixin listGroupScrolling()
  .scrollable-list-groups.list-group-container
    block

