.overview
  columns 3
  column-gap 1em
  width -moz-available


.preview
  display grid
  grid-template-rows min-content 1fr
  grid-template-columns 1fr 2fr
  gap 1em
  // font-size 1em
  // font-weight normal
  // height auto
  // width inherit
  // padding 0
  .close-preview
    grid-row 1
    margin-right 0.25em
  .preview-sidebar
    display block
    overflow auto
    borderCommon()
    padding 1em
    overflow auto
    padding 0
    height 50em
    grid-column 1
    section
      border-radius 0
      margin 0
      border-bottom none
  .preview-main
    border-radius 1em
    padding 0
    borderCommon()
    height max-content
    width stretch
    width -moz-available
    overflow clip

input.preview.switch-display, input.overview.switch-display
  display none

input.preview.switch-display:checked + .preview.switchable-display
  switchDisplayOn()

input.overview.switch-display:checked + .overview.switchable-display
  switchDisplayOn()