.overview
  columns 3
  column-gap 1em

.close-preview
  text-transform uppercase
  width auto
  height auto
  margin 0
  font-weight bold
  font-size 14px
  padding 0.2em
  border 2px solid $color-fg
  cursor pointer
  text-align center
  interactiveHover()
  &.icon-only
    &:before
      font-family "Pictos"
      content "*"
      display block
      height inherit
      width inherit
      background transparent
      pointer-events none


.preview
  display grid
  grid-template-rows min-content 1fr
  grid-template-columns 1fr 2fr
  gap 1em
  // font-size 1em
  // font-weight normal
  // height auto
  // width inherit
  // padding 0
  .close-preview
    grid-row 1
  .preview-sidebar
    display block
    overflow auto
    borderCommon()
    padding 1em
    overflow auto
    padding 0
    height 50em
    grid-column 1
    // flex-grow 0
    // flex-shrink 0
    // width max-content
    // width 21.9em
    // columns unset
    // column-gap unset
    // columns 1
    section // list group items
      // display flex
      border-radius 0
      margin 0
      border-bottom none
  .preview-main
    border-radius 1em
    padding 0
    borderCommon()
    height max-content
    width stretch
    overflow clip

input.preview.switch-display, input.overview.switch-display
  display none

input.preview.switch-display:checked + .preview.switchable-display
  switchDisplayOn()

input.overview.switch-display:checked + .overview.switchable-display
  switchDisplayOn()