.repcontainer
  .repcontrol_edit, .repcontrol_add
    width auto
    height auto
    border 2px solid $fg-color
    border-radius 0
    font-weight bold
    font-size 12px
    text-shadow none
    text-transform uppercase
    padding 0.2em
    margin 0.3em
    color $fg-color
    background #dfe0e2
    interactiveHover("#bcbec2")
    inputHighlight(1px)
  .repcontrol_edit
    margin-right 3px
  .repcontrol_add
    margin-left 3px
  .repcontrol_del
    float right
    width auto
    margin 0
    height auto
  .repcontrol_move
    cursor move
    width auto
    margin 0
    height auto