$header_padding = 0.5em
$button_height = 30px

article.gamerules
  stdFont($type_body)
  colorThemeDark()

  display grid
  align-items center
  margin 0
  border 0
  gap 0 0.5em
  grid-template-areas "title roll close" "body body body" "footer footer footer"
  grid-template-columns 1fr max-content max-content
  grid-template-rows min-content min-content 1fr max-content

  h3, .close-preview.icon-only, button.roll-show.icon-only
    font-size $h2_size

  h3
    line-height 1

    colorThemeDark()

    display flex
    margin $header_padding
    width max-content
    width auto
    height max-content
    grid-area title
    grid-column-start 1
    grid-row-start 1

  button.roll-show.icon-only
    background-color $color_cta
    color $color_bg

    hexagonClip($h2_size)
    interactiveHover($color_bg, $color_cta)

.gamerules-body
  display flex
  flex-flow column
  margin 2px 0
  padding 1em
  width stretch
  width -moz-available
  background-color $color_bg
  color $color_fg
  // slight offset to compensate for apparent extension by border
  grid-area body
  gap 1em

  ul
    margin 2px 0 5px 0.3em

  // p, li, td
  // line-height 1.4
  p
    margin-bottom 0.3em

  // .oracle-embedded
  .roll-label.embedded-btn
    border-width 4px 4px 0

footer
  padding 0.5rem
  text-align right
  grid-area footer