include ../progress/mixins/progressTrack
include ../progress/mixins/challengeRankRadio
include ../details/details

mixin connections(title=true)
  article.connections
    h3.title Connections
    fieldset.repeating_connection
      .connection-container
        p.connection-title.i18n-text(data-i18n='character-name')
        input.border-bottom.connection-name(type='text' name='attr_connection-name' placeholder='Name')
        +details("attr_details", "details", false)
          p.connection-title.i18n-text(data-i18n='location')
          input.connection-location.border-bottom(type='text' name='attr_connection-location' placeholder=translation["location"])
          p.connection-title.i18n-text(data-i18n='descriptors')
          input.connection-descriptors.border-bottom(type='text' name='attr_connection-descriptors' placeholder=translation['descriptors'])
          +challengeRankRadio()
          +progressTrack(["connection"], null, "move-forge-a-bond")
          textarea.connection-notes(name='attr_connection-notes')