- challenge = [ 'one', 'two', 'three', 'four' ]

include ./mixins/progressTrack
include ./mixins/challengeRankRadio

//- fieldset.repeating_progress
//-   .progress-track
//-     input.progress-name(type='text' name='attr_name')
//-     +challengeRankRadio
//-     +progressWidget(track, 'name')


