- var challenge = [ 'one', 'two', 'three', 'four' ]

include ./mixins/progressBoxes
include ./mixins/challengeRankRadio

fieldset.repeating_progress
  div.progress-track
    input.progress-name(type='text' name='attr_name')
    label.challenge-show
      input(type='checkbox' class='hide-element challenge-show-button' name='attr_challenge-show-button')
      .challenge-show-back.i18n-text(data-i18n='progress-challenge')=translation['progress-challenge']
  +challengeRankRadio
  +progressTrackBoxes(track, 'name')
  .progress-container
    input(type='checkbox' class='hide-element challenge-show' name='attr_challenge-show')
    .countdown-row.showhide
      label.challenge-label
        span.i18n-text(data-i18n='scene-challenge-countdown')=translation['scene-challenge-countdown']
      each index in challenge
        label.challenge-box
          input.challenge.hide-element(type='checkbox' class='hide-element' name=`attr_countdown-${index}`)
          .challenge-fill

