- var challenge = [ 'one', 'two', 'three', 'four' ]

include ./mixins/progressBoxes
include ./mixins/challengeRankRadio

fieldset.repeating_progress
  div.progress-track
    input.progress-name(type='text' name='attr_name')
    label.challenge-show
      input(hidden type='checkbox' class='switch-display challenge-show-button' name='attr_challenge-show-button')
      .challenge-show-back
        +i18n('progress-challenge')
  +challengeRankRadio
  +progressTrackBoxes(track, 'name')
  .progress-container
    input(hidden type='checkbox' class='switch-display challenge-show' name='attr_challenge-show')
    .countdown-row.switchable-display
      label.challenge-label
        +i18n('scene-challenge-countdown')
      each index in challenge
        label.challenge-box
          input.challenge.switch-display(hidden type='checkbox' class='switch-display' name=`attr_countdown-${index}`)
          .challenge-fill

