include ../mixins/negations
include ../mixins/headers
include ../mixins/body
include ../mixins/actions

rolltemplate.sheet-rolltemplate-starforged_moves
  .sheet-roll-container
    | {{#action}}
    +actionHeader
    | {{#rollGreater() computed::rollNegated 0}}
    +negationRoll
    | {{/rollGreater() computed::rollNegated 0}}
    | {{#^rollGreater() computed::rollNegated 0}}
    +actionBody
    +standardActionWithMomentum
    | {{/^rollGreater() computed::rollNegated 0}}
    | {{/action}}

    | {{#custom}}
    | {{#header}}
    .sheet-result-body.sheet-result-row
      .sheet-subheader {{header}}
    | {{/header}}
    .sheet-result-body.sheet-result-row
      div {{name}}
    | {{#allprops() custom name header}}
    .sheet-result-body.sheet-result-row
      div {{key}}
      div {{value}}
    | {{/allprops() custom name header}}
    | {{/custom}}