.sheet-rolltemplate-starforged_oracles
  section.sheet-roll-container
    .sheet-oracle-dice
      align-self center
      margin-right 0.5em

      span
        border 0 !important

    .sheet-oracle-double-dice
      padding 0.1em
      width 5.7em
      text-align center

      span
        border 0 !important