rolltemplate.sheet-rolltemplate-starforged_progress
  section.sheet-roll-container
    | {{#alert}}
    h1.sheet-subheader {{name}}
    .sheet-result-body.sheet-result-row {{desc}}
    .sheet-subfooter.sheet-result-row {{footer}}
    | {{/alert}}