rolltemplate.sheet-rolltemplate-ask_the_oracle
  .sheet-template-container
    h1.sheet-subheader Ask the Oracle
    .sheet-result-body.sheet-result-row {{odds}}
    .sheet-result-row.sheet-roll-outcome {{roll1}}: {{computed::roll1}}