include ./customAssetBuilder
include ./assetCard


mixin assets()
  - assetsArray = assets.Assets.filter(obj => { return obj.Category === 'Path' || obj.Category === 'Companion' || obj.Category === 'Deed' })
    each asset in assetsArray
      input(type="hidden" name=`attr_${asset.id}` class=["hide-next"])
      +assetCard(asset, false)
  +customAssets
