include ./asset-custom
include ./asset-builder
include ./mixins/assetPicker

- const categoryBlacklist = ["Command Vehicle"]
- const categoryList = Array.from(new Set(assets.Assets.map(item => item.Category)))

mixin assets()
  - assetsArray = assets.Assets.filter(item => !categoryBlacklist.includes(item.Category))
  +assetPicker(assetsArray)
