.page-assets
  display flex
  flex-flow column
  gap 1em

  .repcontainer[data-groupname="repeating_assets"]
    display flex
    flex-flow row wrap
    justify-content space-around
    align-content flex-start
    gap 1em

    .repitem
      width max-content
      height max-content

input[type="radio"].asset-builder:checked + .asset-builder, input[type="radio"].asset-view:checked + .asset-view
  switchDisplayOn()

$asset_builder_toggle_classes = builder-titles-1 builder-titles-2 builder-titles-3 builder-ability-1-text builder-ability-1-text-input builder-ability-2-text builder-ability-2-text-input builder-ability-3-text builder-ability-3-text-input meter-dropdown-1 meter-dropdown-2 meter-dropdown-3 meter-dropdown-4 meter-dropdown-5 meter-dropdown-6

for $toggle_class in $asset_builder_toggle_classes
  input[type="checkbox"].{$toggle_class}:checked ~ div.{$toggle_class}
    switchDisplayOn(flex)

div.builder-titles-1, div.builder-titles-2, div.builder-titles-3
  flex-flow column
  margin-bottom 0.3em

.view-title-width
  margin 0 1em
  width 22em

.custom
  > input[type=radio]
    margin-left 4px

  div[class|=builder-ability]
    align-items flex-start

div.asset-view, div.asset-builder
  margin-top 0.3em

input[type=checkbox].custom-asset-ability
  margin 0 5px
  opacity 1

.custom-meter
  margin 0 !important
  width 20.5em

.ability-checkbox, .build-text
  stdFont("Encode Sans Condensed")

  margin 0 0.5em 0 0.4em
  width 22em
  height 100px
  resize none

div
  &.assets
    display block !important
    text-align left

    .repcontainer
      display flex
      flex-flow row wrap
      justify-content space-evenly
      padding 0.5em

/*
      .repitem
        float left !important
*/
$asset_width = 20rem // original: 320px
// 20em = 232px
$inch = ($asset_width / 2.5) // pixels per inch
$point = ($inch / 72) // pixels per point
$pica = ($inch / 6) // pixels per pica

.asset-container
  display inline-block
  width $asset_width
  font-size 1em

  input
    width inherit

    &.border-bottom
      padding 0
      border-bottom-color $color_fg

article.asset-card
  // font-size 9*$point
  display grid
  // (0.125*$inch)-(1*$point) // offset to account for border width
  box-sizing border-box
  padding 9 * $point // 9 points top
  width $asset_width // 320px
  height 3.5 * $inch // 448px
  border 1 * $point solid #B7C3CE
  background-position top right
  background-origin border-box
  background-size 0.95 * $inch auto
  background-repeat no-repeat
  grid-template-areas "assetcategory icon" "name icon" "input icon" "description icon" "body body" "footer footer"
  grid-template-columns 1fr 0.5 * $inch // 1/5 of the width
  grid-template-rows max-content max-content max-content max-content 1fr max-content

  // gap 1*$point
  .asset-category, .asset-name
    stdFont("Exo")

    text-align left
    text-transform uppercase
    // margin-bottom 2*$point

  .asset-name
    height 9.25 * $point // we want height 16px
    font-weight 800
    font-size 1.3125 * 9.25 * $point
    line-height 9.25 * $point
    grid-area name

  .asset-category
    height 5.75 * $point
    font-weight 600
    font-size 1.3125 * 5.75 * $point
    line-height 5.75 * $point
    grid-area assetcategory

  img.asset-icon
    align-self start
    box-sizing border-box
    margin 0
    margin-top 0
    margin-top 0 // -1.25px // TODO: set as point value
    padding 0
    width 36 * $point
    height: ((36 * $point) / (math(3, sqrt) / 2))
    grid-area icon
    justify-self end

  .asset-inputBox
    display flex
    margin 0
    padding 0
    width stretch
    width -moz-available
    border-bottom 1 * $point solid black
    // height 5.35*$point
    // line-height 5.35*$point
    font-size 1.3125 * 5.35 * $point
    cursor pointer
    grid-area input

    span
      align-self end
      width max-content
      height min-content
      color #B7C3CE

      stdFont("Exo")

      text-transform uppercase
      // margin-bottom 2*$point
      font-weight 600
      line-height 1

    input[type=text]
      stdFont("Encode Sans Condensed")

      margin-bottom 1 * $point // TODO: replace cuz 3% keys to screen size iirc D:
      width stretch
      width -moz-available
      border none
      background transparent
      font-weight 500

  section.asset-abilities, section.asset-description, section.asset-abilities *, section.asset-description *
    line-height 10.295 * $point

    stdFont("Encode Sans Condensed")

    letter-spacing 0.01ch
    // underline thickness: 0.040 pica

  section.asset-abilities
    display flex
    flex-flow column
    grid-area body
    gap 0.815 * $point

    // gap 2*$point
    section.asset-ability
      display flex
      // gap 3*$point
      gap 4.125 * $point

      // 12 points from left edge of bullet to left edge of ability text
      ul, ul li
        margin 0
        padding 0

      ul li
        // margin 2*$point 0

      input[type="checkbox"]
        flex-grow 0
        flex-shrink 0
        align-self start

        hexCheckbox(7.875 * $point)

        // no top margin - highest point lines up with bottom of icon
        margin-left 1 * $point // sits 10pts from edge

  section.resource-meter
    display flex
    flex-direction row-reverse
    justify-content flex-end
    color #b8c2cd
    font-weight 700
    font-family "Exo", sans-serif
    transition 0.5s ease
    // height of numbers: 6.5pt
    // height of small labels: 5.35 (same as input label)
    grid-area footer

    label.resource-meter-box
      display flex
      flex-direction column
      justify-content center
      align-items center
      margin 0
      margin-right -1.3 * $point
      padding 0
      width 0.25 * $inch
      height: (0.25 * $inch / (math(3, sqrt) / 2))
      border none
      cursor pointer
      transition inherit

      input[type="radio"]
        display none

      // minimum and maximum values get special colors
      &:first-child
        &:hover
          color $sf_ui_red

        input[type="radio"]:checked + .resource-meter-box-display
          background-color $sf_ui_red
          color $color_fg

      &:last-child
        &:hover
          color $sf_ui_blue

        input[type="radio"]:checked + .resource-meter-box-display
          background-color $sf_ui_blue
          color $color_fg

      .resource-meter-box-display
        background-color $color_bg
        background-image url("https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-ui-components/Ironsworn-Starforged/assets/ux/hex-meter-box-unchecked.svg")
        background-position center
        background-size contain
        background-repeat no-repeat
        color $color_fg_alt
        font-size: (0.125 * $inch / (math(3, sqrt) / 2))
        mask-image url("https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-ui-components/Ironsworn-Starforged/assets/ux/hex-meter-box-checked.svg")
        mask-position center
        mask-repeat no-repeat
        mask-size contain

        &:hover
          color $color_fg

      input[type="radio"]:checked + .resource-meter-box-display
        background-color $color_fg
        color $color_bg

.resource-meter-wordy
  text-transform uppercase

  .resource-meter-box
    flex-direction row

.asset-type-selection
  border 0
  background $color_fg
  color $color_bg

.asset-type-dropdown
  margin 6px 4px
  width auto
  background $color_fg
  color $color_bg
  text-transform uppercase
  font-weight bold
  appearance menulist

.sub-dropdown
  margin 7px 4px
  width auto
  text-transform uppercase
  font-weight bold
  appearance menulist

.custom
  .ability-view:first-child
    margin-top 1em

.builder-name
  margin-bottom 0.5em

span.custom-asset-page
  margin-right 0.5em
  margin-left 0.3em

input[type=checkbox].custom:checked + div.custom
  switchDisplayOn(grid)

for key in $assets
  input[type=radio]:checked + .asset-card.{key}
    switchDisplayOn(grid)

.asset-content-header
  display flex
  justify-content space-between

.asset-details
  align-self center
  padding-left 1em

.asset-options-header
  padding 0.2em 0.4em
  width 100%
  border 0
  border-radius 0.4em 0.4em 0 0
  background $color_fg
  color $color_bg
  text-transform uppercase

  stdFont("Exo")

  &:placeholder
    color #b9b9b9

.custom
  padding 0.5em

$categories = {
  path: $sf_sky,
  companion: $sf_shallows,
  module: $sf_oracle,
  support-vehicle: $sf_ocean,
  deed: $sf_forest,
  command-vehicle: $sf_iron
}

for key, category in $categories
  .asset-card.category-{key}
    .asset-category
      color category

    background-image url("https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-ui-components/Ironsworn-Starforged/assets/ux/hex-asset-bg-" + key + ".svg")