input[type="checkbox"].showhide:checked ~ div.showhide
  show-hide()

select
  &.path-dropdown
    option[value="alchemist"]
      & ~ .alchemist
        display flex
        show-hide()

input[type="radio"].asset-builder:checked ~ div.asset-builder,
input[type="radio"].asset-view:checked ~ div.asset-view
  display: block;
  show-hide()

input[type="checkbox"].builder-titles-1:checked ~ div.builder-titles-1,
input[type="checkbox"].builder-titles-2:checked ~ div.builder-titles-2,
input[type="checkbox"].builder-titles-3:checked ~ div.builder-titles-3,
input[type="checkbox"].builder-ability-1-text:checked ~ div.builder-ability-1-text,
input[type="checkbox"].builder-ability-1-text-input:checked ~ div.builder-ability-1-text-input,
input[type="checkbox"].builder-ability-2-text:checked ~ div.builder-ability-2-text,
input[type="checkbox"].builder-ability-2-text-input:checked ~ div.builder-ability-2-text-input,
input[type="checkbox"].builder-ability-3-text:checked ~ div.builder-ability-3-text,
input[type="checkbox"].builder-ability-3-text-input:checked ~ div.builder-ability-3-text-input,
input[type="checkbox"].meter-dropdown-1:checked ~ div.meter-dropdown-1,
input[type="checkbox"].meter-dropdown-2:checked ~ div.meter-dropdown-2,
input[type="checkbox"].meter-dropdown-3:checked ~ div.meter-dropdown-3,
input[type="checkbox"].meter-dropdown-4:checked ~ div.meter-dropdown-4,
input[type="checkbox"].meter-dropdown-5:checked ~ div.meter-dropdown-5,
input[type="checkbox"].meter-dropdown-6:checked ~ div.meter-dropdown-6
  display flex
  show-hide()

div.builder-titles-1,
div.builder-titles-2,
div.builder-titles-3
  flex-flow column
  margin-bottom 0.3em

.view-title-width
  width 22em
  margin 0em 1em

.custom
  > input[type=radio]
    margin-left: 4px
  div[class|=builder-ability]
    align-items: flex-start

div.asset-view,
div.asset-builder
  margin-top 0.3em

input[type=checkbox].custom-asset-ability
  opacity 1
  margin 0px 5px 0 5px

.custom-track
  width 20.5em
  margin 0 !important

.ability-checkbox,
.build-text
  std-font('Encode Sans Condensed')
  font-size 13px
  resize none
  height 100px
  width 22em
  margin 0em 0.5em 0em 0.4em

.ability-text
  std-font('Encode Sans Condensed')
  font-size 14.3px
  resize none
  height 100px
  margin-bottom 0em
  width 18em

.builder-dropdown
  font-size 14px

.asset-description
  margin 0 12px 0px 12px
  std-font('Encode Sans Condensed')

div
  &.asset-ability
    width 100%
    height 100%
    margin 0px 12px 6px 10px
    ul
      margin-left 15px
      margin-bottom 0
  &.assets
    display block !important
    text-align left
    .repcontainer
      display flex
      flex-flow row wrap
      padding 0.5em
      std-font('Encode Sans Condensed')
      justify-content space-evenly
      .repitem
        float left !important

.asset-ability-write-in
  margin-top 4px

.asset-write-in
  display flex
  white-space nowrap
  margin-bottom 4px
  font-weight bold
  margin-right 1em

.asset-ability-write-in
  display inline
  white-space nowrap

.asset
  display inline-block
  width 320px
  max-width 320px
  border 2px solid #4C4D4F
  margin-bottom 20px
  font-size 14.3px
  line-height 1.25
  border-radius 1em
  box-shadow 2px 2px 6px 0px
  std-font('Encode Sans Condensed')
  input
    &.border-bottom
      border-bottom-color #4C4D4F
      padding 0

.asset-write-in input,
.asset-ability-write-in input
  height 1.4em
  width 100%
  padding 0
  margin-left 5px
  margin-top 2px
  font-size 15px
  font-weight bold

input[type="checkbox"].asset-ability
  opacity 1 !important
  margin-top 0.2em

.asset-type-selection
  background #4C4D4F
  color #fff
  border 0

.asset-type-dropdown
  color #fff
  background #4C4D4F
  width auto
  font-size 15px
  font-weight bold
  text-transform uppercase
  -webkit-appearance menulist
  margin 6px 4px

.sub-dropdown
  -webkit-appearance menulist
  width auto
  margin 7px 4px
  font-weight bold
  text-transform uppercase

.asset-meter-wrapper
  margin 10px
  display flex

.asset-meter-box
  width 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  border-radius 0%
  background transparent
  border 2px solid #4C4D4F
  padding 5px
  margin-bottom 2px

.asset-meter-wrapper-wordy
  text-transform uppercase
  .asset-meter-box
    flex-direction row

.asset-meter-box-display
  font-size 17px
  font-weight bold

.ability-top
  margin-top 1em

.builder-name
  margin-bottom 0.5em

span.custom-asset-page
  margin-left 0.3em
  margin-right 0.5em

.asset-description-text
  margin-top: 0.4em

.asset-body
  font-size 14.3px
  line-height 1.25
  margin 0 0 4px


// TODO: pull all assets from json and create a template for each
// assets = json('starforged_assets_wip_june_2.json', { hash: true, leave-strings: true })
// for asset in assets
//   name = asset.Name.toLowerCase().replace(/\s/g, '-')
//   // input[type='checkbox'].name:checked ~ div.name
//   input[type='checkbox'].{name}:checked ~ div.{name}
//     display block
//     show-hide()

input[type=checkbox].custom:checked ~ div.custom
  display block
  show-hide()

input[type=checkbox].asset-ace:checked ~ div.asset-card.asset-ace,
input[type=checkbox].asset-agent:checked ~ div.asset-card.asset-agent,
input[type=checkbox].asset-archer:checked ~ div.asset-card.asset-archer,
input[type=checkbox].asset-armored:checked ~ div.asset-card.asset-armored,
input[type=checkbox].asset-augmented:checked ~ div.asset-card.asset-augmented,
input[type=checkbox].asset-bannersworn:checked ~ div.asset-card.asset-bannersworn,
input[type=checkbox].asset-banshee:checked ~ div.asset-card.asset-banshee,
input[type=checkbox].asset-blademaster:checked ~ div.asset-card.asset-blademaster,
input[type=checkbox].asset-bonded:checked ~ div.asset-card.asset-bonded,
input[type=checkbox].asset-bounty-hunter:checked ~ div.asset-card.asset-bounty-hunter,
input[type=checkbox].asset-brawler:checked ~ div.asset-card.asset-brawler,
input[type=checkbox].asset-combat-bot:checked ~ div.asset-card.asset-combat-bot,
input[type=checkbox].asset-commander:checked ~ div.asset-card.asset-commander,
input[type=checkbox].asset-courier:checked ~ div.asset-card.asset-courier,
input[type=checkbox].asset-devotant:checked ~ div.asset-card.asset-devotant,
input[type=checkbox].asset-diplomat:checked ~ div.asset-card.asset-diplomat,
input[type=checkbox].asset-empath:checked ~ div.asset-card.asset-empath,
input[type=checkbox].asset-explorer:checked ~ div.asset-card.asset-explorer,
input[type=checkbox].asset-fated:checked ~ div.asset-card.asset-fated,
input[type=checkbox].asset-firebrand:checked ~ div.asset-card.asset-firebrand,
input[type=checkbox].asset-fugitive:checked ~ div.asset-card.asset-fugitive,
input[type=checkbox].asset-gearhead:checked ~ div.asset-card.asset-gearhead,
input[type=checkbox].asset-glowcat:checked ~ div.asset-card.asset-glowcat,
input[type=checkbox].asset-gunner:checked ~ div.asset-card.asset-gunner,
input[type=checkbox].asset-gunslinger:checked ~ div.asset-card.asset-gunslinger,
input[type=checkbox].asset-haunted:checked ~ div.asset-card.asset-haunted,
input[type=checkbox].asset-healer:checked ~ div.asset-card.asset-healer,
input[type=checkbox].asset-homesteader:checked ~ div.asset-card.asset-homesteader,
input[type=checkbox].asset-kinetic:checked ~ div.asset-card.asset-kinetic,
input[type=checkbox].asset-lore-hunter:checked ~ div.asset-card.asset-lore-hunter,
input[type=checkbox].asset-loyalist:checked ~ div.asset-card.asset-loyalist,
input[type=checkbox].asset-marked:checked ~ div.asset-card.asset-marked,
input[type=checkbox].asset-mercenary:checked ~ div.asset-card.asset-mercenary,
input[type=checkbox].asset-naturalist:checked ~ div.asset-card.asset-naturalist,
input[type=checkbox].asset-navigator:checked ~ div.asset-card.asset-navigator,
input[type=checkbox].asset-oathbreaker:checked ~ div.asset-card.asset-oathbreaker,
input[type=checkbox].asset-outcast:checked ~ div.asset-card.asset-outcast,
input[type=checkbox].asset-protocol-bot:checked ~ div.asset-card.asset-protocol-bot,
input[type=checkbox].asset-revenant:checked ~ div.asset-card.asset-revenant,
input[type=checkbox].asset-rockhorn:checked ~ div.asset-card.asset-rockhorn,
input[type=checkbox].asset-scavenger:checked ~ div.asset-card.asset-scavenger,
input[type=checkbox].asset-scoundrel:checked ~ div.asset-card.asset-scoundrel,
input[type=checkbox].asset-seer:checked ~ div.asset-card.asset-seer,
input[type=checkbox].asset-shade:checked ~ div.asset-card.asset-shade,
input[type=checkbox].asset-sidekick:checked ~ div.asset-card.asset-sidekick,
input[type=checkbox].asset-slayer:checked ~ div.asset-card.asset-slayer,
input[type=checkbox].asset-sniper:checked ~ div.asset-card.asset-sniper,
input[type=checkbox].asset-sprite:checked ~ div.asset-card.asset-sprite,
input[type=checkbox].asset-survey-bot:checked ~ div.asset-card.asset-survey-bot,
input[type=checkbox].asset-symbiote:checked ~ div.asset-card.asset-symbiote,
input[type=checkbox].asset-tech:checked ~ div.asset-card.asset-tech,
input[type=checkbox].asset-trader:checked ~ div.asset-card.asset-trader,
input[type=checkbox].asset-utility-bot:checked ~ div.asset-card.asset-utility-bot,
input[type=checkbox].asset-vanguard:checked ~ div.asset-card.asset-vanguard,
input[type=checkbox].asset-vestige:checked ~ div.asset-card.asset-vestige,
input[type=checkbox].asset-veteran:checked ~ div.asset-card.asset-veteran,
input[type=checkbox].asset-voidborn:checked ~ div.asset-card.asset-voidborn,
input[type=checkbox].asset-voidglider:checked ~ div.asset-card.asset-voidglider,
input[type=checkbox].asset-weapon-master:checked ~ div.asset-card.asset-weapon-master,
input[type=checkbox].asset-engine-upgrade:checked ~ div.asset-card.asset-engine-upgrade,
input[type=checkbox].asset-expanded-hold:checked ~ div.asset-card.asset-expanded-hold,
input[type=checkbox].asset-grappler:checked ~ div.asset-card.asset-grappler,
input[type=checkbox].asset-heavy-cannons:checked ~ div.asset-card.asset-heavy-cannons,
input[type=checkbox].asset-internal-refit:checked ~ div.asset-card.asset-internal-refit,
input[type=checkbox].asset-medbay:checked ~ div.asset-card.asset-medbay,
input[type=checkbox].asset-missile-array:checked ~ div.asset-card.asset-missile-array,
input[type=checkbox].asset-overseer:checked ~ div.asset-card.asset-overseer,
input[type=checkbox].asset-reinforced-hull:checked ~ div.asset-card.asset-reinforced-hull,
input[type=checkbox].asset-research-lab:checked ~ div.asset-card.asset-research-lab,
input[type=checkbox].asset-sensor-array:checked ~ div.asset-card.asset-sensor-array,
input[type=checkbox].asset-shields:checked ~ div.asset-card.asset-shields,
input[type=checkbox].asset-stealth-tech:checked ~ div.asset-card.asset-stealth-tech,
input[type=checkbox].asset-vehicle-bay:checked ~ div.asset-card.asset-vehicle-bay,
input[type=checkbox].asset-workshop:checked ~ div.asset-card.asset-workshop,
input[type=checkbox].asset-exosuit:checked ~ div.asset-card.asset-exosuit,
input[type=checkbox].asset-hoverbike:checked ~ div.asset-card.asset-hoverbike,
input[type=checkbox].asset-rover:checked ~ div.asset-card.asset-rover,
input[type=checkbox].asset-service-pod:checked ~ div.asset-card.asset-service-pod,
input[type=checkbox].asset-shuttle:checked ~ div.asset-card.asset-shuttle,
input[type=checkbox].asset-skiff:checked ~ div.asset-card.asset-skiff,
input[type=checkbox].asset-snub-fighter:checked ~ div.asset-card.asset-snub-fighter,
input[type=checkbox].asset-engine-upgrade:checked ~ div.asset-card.asset-engine-upgrade,
input[type=checkbox].asset-expanded-hold:checked ~ div.asset-card.asset-expanded-hold,
input[type=checkbox].asset-grappler:checked ~ div.asset-card.asset-grappler,
input[type=checkbox].asset-heavy-cannons:checked ~ div.asset-card.asset-heavy-cannons,
input[type=checkbox].asset-internal-refit:checked ~ div.asset-card.asset-internal-refit,
input[type=checkbox].asset-medbay:checked ~ div.asset-card.asset-medbay,
input[type=checkbox].asset-missile-array:checked ~ div.asset-card.asset-missile-array,
input[type=checkbox].asset-overseer:checked ~ div.asset-card.asset-overseer,
input[type=checkbox].asset-reinforced-hull:checked ~ div.asset-card.asset-reinforced-hull,
input[type=checkbox].asset-research-lab:checked ~ div.asset-card.asset-research-lab,
input[type=checkbox].asset-sensor-array:checked ~ div.asset-card.asset-sensor-array,
input[type=checkbox].asset-shields:checked ~ div.asset-card.asset-shields,
input[type=checkbox].asset-stealth-tech:checked ~ div.asset-card.asset-stealth-tech,
input[type=checkbox].asset-vehicle-bay:checked ~ div.asset-card.asset-vehicle-bay,
input[type=checkbox].asset-workshop:checked ~ div.asset-card.asset-workshop,
input[type=checkbox].asset-exosuit:checked ~ div.asset-card.asset-exosuit,
input[type=checkbox].asset-hoverbike:checked ~ div.asset-card.asset-hoverbike,
input[type=checkbox].asset-rover:checked ~ div.asset-card.asset-rover,
input[type=checkbox].asset-service-pod:checked ~ div.asset-card.asset-service-pod,
input[type=checkbox].asset-shuttle:checked ~ div.asset-card.asset-shuttle,
input[type=checkbox].asset-skiff:checked ~ div.asset-card.asset-skiff,
input[type=checkbox].asset-snub-fighter:checked ~ div.asset-card.asset-snub-fighter
  display block
  show-hide()

span.asset-name
  font-family 'Exo', Helvetica, Arial, sans-serif
  font-size 1.5em
  font-weight bold
  text-transform uppercase

.asset-content-header
  display flex
  justify-content space-between

.asset-details
  align-self center
  padding-left 1em

.category
  std-font('Exo')
  font-size 1.1em
  text-transform uppercase
  font-weight bold

.asset-options-header
  padding 0.2em 0.4em
  background #4C4D4F
  color #fff
  width 100%
  border 0
  border-radius 0.4em 0.4em 0em 0em
  font-size 1em
  text-transform uppercase
  std-font('Exo')
  &::placeholder
    color #b9b9b9

.custom
  padding 0.5em

.write-in-container
  display flex
  margin-left 0.85em
  margin-top 0.4em

.background-svg
  width 100px
  height 93px
  background-repeat no-repeat

$categories = {
  'path':#3B7FA9,
  'companion':#3C8B8A,
  'module':#7E5990,
  'support-vehicle':#485690,
  'deed':#4B974E,
  'command-vehicle': #99A3AD
}

for key, category in $categories
  .category-{key}
    .asset-details
      .category
        color category