include ../mixins/negations
include ../mixins/headers
include ../mixins/body
include ../mixins/actions
include ../mixins/customRows

mixin rollTemplateActionRoll
  rolltemplate.sheet-rolltemplate-ironsworn_move
    .sheet-roll-container
      +tplHeader("header")
      .sheet-result-body
        +actionScore
        +momentumCancel
        +challengeDice
        +customRows
      .sheet-footer
        +moveOutcome

mixin momentumCancel
  | {{#rollLess() computed::action-die 1}}
  .sheet-result-body.sheet-result-row Action die cancelled by negative momentum.
  | {{/rollLess() computed::action-die 1}}

//- this is a mixin so the variables are properly scoped
mixin rollTemplateActionRollOld
  - let maxNegMomentum = 6
  rolltemplate.sheet-rolltemplate-starforged_moves
    .sheet-roll-container
      | {{#action}}
      +tplHeader("name")
      .sheet-result-body
        | {{#rollLess() momentum 0}}
        - let counter = 1;
        while counter <= maxNegMomentum
          +cancelRollOld(counter, 'action')
          - counter++;
        | {{/rollLess() momentum 0}}
        | {{#^rollLess() momentum 0}}
        +actionRollBodyOld('action')
        +challengeDiceOld
        +standardActionWithMomentum('action')
        | {{/^rollLess() momentum 0}}
        | {{/action}}

      | {{#custom}}
      | {{#header}}
      .sheet-result-body.sheet-result-row
        h1 {{header}}
      | {{/header}}
      .sheet-result-body.sheet-result-row
        div {{name}}
      | {{#allprops() custom name header}}
      .sheet-result-body.sheet-result-row
        div {{key}}
        div {{value}}
      | {{/allprops() custom name header}}
      | {{/custom}}

+rollTemplateActionRoll
+rollTemplateActionRollOld