
.resource-meter
  display flex
  flex-flow row-reverse
  justify-content center
  align-items stretch
  text-align center
  text-anchor middle

.resource-meter-box
  margin 0
  padding 0.25rem

.resources
  display flex
  flex-flow row
  justify-content stretch
  width inherit
  height max-content

  borderCommon()

  .resource
    embeddedInput()
    borderCommon()

    flex-grow 1
    margin 0
    min-width max-content
    max-width $breakpoint_mobile_width
    height max-content

    > button, label
      min-width max-content

    &.resource-numeric
      button, label
        flex-grow 3

      input[type=number]
        display flex
        flex-grow 1
        padding 0
        min-width 1ch
        max-width 4ch
        font-weight bold
        font-size 125%
        padding-inline-start 5px
        // ::-webkit-inner-spin-button
        // the above works on chrome, which might make it worth adding

    &.resource-rollable
      width 3.5ch

    &.resource-string
      button, label
        flex-grow 0
        max-width max-content

      input[type=text]
        flex-grow 1
        width 15ch

      // &#character-callsign, #character-pronouns
      &#character-name
        flex-grow 2

        input[type=text]
          width 20ch

$resources = health supply spirit momentum xp

.resource-spinner
  display grid
  grid-template-areas "input plus" "input minus"
  grid-template-rows 1fr 1fr
  grid-template-columns 1fr min-content
  gap 1px

  input[type=number]
    grid-area input
    // appearance textfield

  button
    padding 0
    width 1.6ch
    border 0
    color white
    font-size 100%
    line-height 1

    fadeIn($short_transition)

    &.spinner-plus
      grid-area plus

      interactive($color_cta, $color_bg)

    &.spinner-minus
      grid-area minus

      interactive($color_warning, $color_bg)