label
  &.health-reset
    font-size 14px
    margin 0
    padding 2px 7px 2px 6px
    cursor pointer
    &:hover
      background #ccc
      transition 0.5s ease

h3
  &.health-max
    font-size 14px
    margin-right 0.3em
    line-height 23px
    padding-left 0.3em
  &.health-max-value
    padding-right 0.3em

.health-max-value
  font-size 14px
  line-height 22px
  color #555

.resource-value
  font-size 14px
  width 38px
  font-weight bold
  padding 0
  padding-left 4px
  border-radius 0
  background #ccc
  margin 0
  height auto
  cursor pointer
  border-left 1px solid
  &:focus
    input-highlight(3px)

input[type=text].resource-value
  width 22px
  border none
  cursor text

.health-max-box
  display flex
  background #ccc

.health-status-box
  display flex

.load-value
  width 27px

.character-name
  // grid-column 1
  input
    width 100% !important
    border none

.character-pronouns
  input
    width 100% !important
    border none

.character-callsign
  // grid-column 2
  input
    width 100% !important
    border none

.resources
  display grid
  justify-content space-between
  border 1px solid #4b4d4f
  margin-bottom 0.1em
  grid-template-rows 1fr 1fr
  // grid-template-columns 1fr 1fr 1fr 1fr 1fr
  .resource
    font-size 14px
    display flex
    borderCommon()
    margin 0
    padding 0
    border-left 1px solid
    grid-row 2
  .character-name
    grid-row 1
    // grid-column-start 1
    // grid-column-end 3
  .character-callsign
    grid-row 1
    // grid-column-start 3
    // grid-column-end 5
  .character-pronouns
    // grid-row 2
    // grid-column 5
  button.btn.roll-resource-label, label
    width auto
    height auto
    vertical-align
    line-height 9px
    background none
    border 0
    font-size 1em
    text-transform uppercase
    // padding 0.5em 0.5em 0.5em 0.5em
    // border-right 1px solid
    // border-left 1px solid
    // padding 0.15em 0.4em 0em 0.4em
    margin 0
    cursor pointer
    text-align center
    text-shadow none
    display inline
    &:hover
      background #ccc
      transition 0.5s ease
    span
      display block
      margin auto 0.25em
  .resource-value-box
    display flex
    width 100%

