include ../common/connections
include ../common/vows
include ../common/progress
include ../common/ship
include ./moves
include ./assets
include ./summary
include ./oracles
include ./legacies

- var sheetType = 'character'

header
  +resources(sheetType)
  include ../../components/momentum/momentum
+pageTabs(sheetType)
  +summaryPage(sheetType)
  +connectionsPage(sheetType)
  +vowsPage(sheetType)
  +assetsPage(sheetType)
  +movesPage(sheetType)
  +progressPage(sheetType)
  +oraclesPage(sheetType)
  +legaciesPage(sheetType)
  +shipPage(sheetType)
