include ../../components/oracles/oracle-preview
include ../../components/generic/preview
include ../page

mixin oraclesPage
  +page("oracles", "character", 7)
    +overview("oracle", 1)
      each group in oracles
        if group.Name !== 'Move'
          +oracleRollGroup(group)
    +preview("oracle", 2)
      +previewSidebar()
        each group in oracles
          if group.Name !== 'Move'
            +oracleRollGroup(group)
      +previewMain
        each group in oracles
          if group.Name !== 'Move'
            each oracle in group.Oracles
              +oraclePreview(oracle, group['Display name']||group.Name)
            if group.Subcategories
              each subcategory in group.Subcategories
                +oraclePreview(subcategory, group['Display name']||group.Name)
