include ../../components/oracles/oracle-builder
include ../page
include ../../components/generic/preview
include ../../components/generic/listGroup

mixin oraclesPage
  +pageContent("oracles", "character", 7)
    +listGroupOverview("oracle")
      .oracle-overview-container
        each group in oracles
          if group.Name !== 'Move'
            +oracleRollGroup(group)
            //- TODO: refactor as listGroup

    input(type='radio' class='hide-element oracle-preview' name='attr_view_mode_oracle' value='2')
    .preview-container.showhide.oracle-preview
      +previewCloseBtn("oracle")
      .preview-list
        each group in oracles
          if group.Name !== 'Move'
            +oracleRollGroup(group)

      .preview-main
        each group in oracles
          if group.Name !== 'Move'
            each oracle in group.Oracles
              +oracleBuilder(oracle, group['Display name']||group.Name)
            if group.Subcategories
              each subcategory in group.Subcategories
                +oracleBuilder(subcategory, group['Display name']||group.Name)
