include ../../components/impacts/impacts
include ../../components/vows/vow-container
include ../../components/stats/character
include ../page

mixin summaryPage(sheetType)
  +page("summary", sheetType)
    +stats()
    - const impactArray = impacts.filter(obj => { return obj.title !== 'ship' })
    section.impacts
      h3.divide
        +i18n('impacts')
      +impacts(impactArray, { title: true, customImpacts: true})
    include ../../components/notes/notes