include ./mixins/moveRulesArticle
include ./mixins/moveListButton
include ../generic/listGroup
include ../generic/preview

mixin moveGroup(moveCategory)
  - title_i18n = `move-group-title-${moveCategory}`
  - moveList = moves.Moves.filter(obj => { return obj.Category === translation[title_i18n] })
  +listGroup(title_i18n)
    each move in moveList
      +listGroupItem()
        +moveListButton(move)
        +previewToggle(move.id, "move-preview", move.id.replace("move-", "move-title-"))
