
div
  &.search-bar
    display flex
    justify-content center
    width 100%
    margin 1em 0em 0.5em 0em
  &.preview-bar
    justify-content space-between
    width 100%
    display flex
    margin 0em 0em 0.5em 0em
  &.search-preview-bar
    display flex
    width auto
  &.move-nav-content
    padding 0.2em
    width 100%

input
  &.search-preview-bar
    width 17.6em
    borderCommon()
    border-radius 0
    &:focus
      outline 3px solid $color-highlight
      outline-offset 0
      box-shadow inset 0 0 0 2px
  &.search-bar
    width 50%
    borderCommon()
    &:focus
      outline 3px solid $color-highlight
      outline-offset 0
      box-shadow inset 0 0 0 2px
  &.table-btn
    &:checked
      & ~ div
        &.move-nav-content
          background $color-fg
          color $color-bg
          transition 0.5s ease



.move
  margin 0em
  color $color-fg
  display flex
  padding 0

.move-name
  width 100%

.move-highlight
  &:checked
    & ~ .move-name
      background $color-highlight
      outline-offset 0
      box-shadow inset 0 0 0 2px

.move-column
  display flex
  flex-direction column
  margin-right 10px

span
  &.move-result
    width 36em
  &.preview-move-roll
    width 60%
    margin-left 1em

.move-box
  &:nth-child(n
    & + 2)
      margin-top 10px
.preview
  width auto

.move-show
  display inline-flex
  font-size 1em
  margin 0em
  padding 0.3em
  cursor pointer
  interactiveHover(#969696)

.column-wrap
  flex-flow column wrap
  width 22.5em

.move-delve-table
  width auto !important

article.gamerules
  .move-progress-label
    color $color-fg-lowkey
    display block
    stdFont('Encode Sans Condensed')
    font-size 75%
    font-weight normal
    text-transform none
    font-style italic
    align-self end
    margin-left 1em
  .move-table
    border none
    width 30.5em
    font-size 12px
  .move-roll
    width 18%

.clear-search
  width fit-content
  height auto
  margin 0
  font-weight bold
  font-size 14px
  padding 0.2em 0.2em 0.2em 0.2em
  border 2px solid $color-fg
  cursor pointer
  interactiveHover()

.selected-move
  z-index 3
  &:checked
    & ~ .move-name
      background $color-fg !important
      color $color-bg !important

// TODO: iterate thru $moves for toggle classes

.move-nav-child
  display flex
  width auto
  height 1.3em
  padding 0
  margin 0.2em 0em 0.2em 0em
  text-align center

:-webkit-scrollbar
  -webkit-appearance none
  width 7px

:-webkit-scrollbar-thumb
  border-radius 4px
  background-color rgba(0,0,0,0.5)
  box-shadow 0 0 1px rgba(255,255,255,0.5)

.move-delve-column-stat-header,
.move-delve-stat-column
  width 16%

.move-delve-column-stat-header-1,
.move-delve-stat-column-1
  width 17%

.move-delve-column-stat-header-2,
.move-delve-stat-column-2
  width 18%

.move-delve-column-stat-header-3,
.move-delve-stat-column-3
  width 15%

.move-delve-column-header,
.move-delve-column
  width 50%

.move-delve-column-stat-header,
.move-delve-column-stat-header-1,
.move-delve-column-stat-header-2,
.move-delve-column-stat-header-3,
.move-delve-column-header
  font-weight bold

.move-delve-row-header
  padding 0px 5px 0px 5px
  display flex
  height auto
  border-bottom 2px solid $color-fg

.embedded-btn
  padding-top 0.2em !important
  // stdFont($body-font)

input.optional-move-failures:checked ~ div.optional-move-failures,
input.optional-move-sites:checked ~ div.optional-move-sites,
input.optional-move-threat:checked ~ div.optional-move-threat,
input.optional-move-rarity:checked ~ div.optional-move-rarity
  display block

