include ./mixins/move-builder
include ../generic/listGroup
include ../generic/preview

mixin moveGroup(moveCategory)
  - var title_i18n = `move-group-title-${moveCategory}`
  - var moveList = moves.Moves.filter(obj => { return obj.Category === translation[title_i18n] })
  +listGroup(title_i18n)
    each move in moveList
      - const shortId = move.id.replace(/move-/i, "")
      - const moveKey = `move-title-${shortId}`
      +listGroupItem()
        +moveRollBtn(move)
        +previewSelectBtn("move", move.id, moveKey)
//- Stupid way for me to generate orcale ccs
//- - console.log(`input[type=radio].${move.id}:checked ~ div.${move.id},`)

//- Move Details

+listGroupOverview("move")
  each group in movegroups
    +moveGroup(group)
+preview("move")
  +listGroupScrolling()
    each group in movegroups
      +moveGroup(group)
  each move in moves.Moves
    +movePreviewFactory(move)