include ./mixins/move-builder
include ../generic/listGroup
include ../generic/preview
include ../../common/pug/button

mixin moveGroup(moveCategory)
  - var title_i18n = `move-group-title-${moveCategory}`
  - var moveList = moves.Moves.filter(obj => { return obj.Category === translation[title_i18n] })
  +listGroup(title_i18n)
    each move in moveList
      +listGroupItem()
        +moveListButton(move)
        +toggleBtn(move.Name, "selected_move", move.id)
          //- span.move-name.btn-content.i18n-text(data-i18n=moveKey)=translation[moveKey]
