
for $moveId in $moves
  input[name=attr_move-preview-display]
    &[value={$moveId}]
      ~ .preview-main .{$moveId}
        display grid
      ~ .preview-list [value={$moveId}]
        interactiveAltColor($color_bg, $color_fg)
    &:not([value={$moveId}]) ~ .preview-main .{$moveId}
      display none

article.gamerules
  .move-progress-label
    footerText()
    display block
    align-self end
    margin-left 1em
    color $color_fg_fade
    font-style italic

  .move-table
    width 30.5em
    border none

  .roll-move
    width 18%

.clear-search
  margin 0
  padding 0.2em
  width fit-content
  height auto
  cursor pointer

  interactiveHover()

.selected-move
  z-index 3

  &:checked
    & ~ .move-name
      background $color_fg !important
      color $color_bg !important

// TODO: iterate thru $moves for toggle classes
.move-nav-child
  display flex
  margin 0.2em 0
  padding 0
  width auto
  height 1.3em
  text-align center

:-webkit-scrollbar
  width 7px
  -webkit-appearance none

:-webkit-scrollbar-thumb
  border-radius 4px
  background-color rgba(0, 0, 0, 0.5)
  box-shadow 0 0 1px rgba(255, 255, 255, 0.5)

.move-delve-column-stat-header, .move-delve-stat-column
  width 16%

.move-delve-column-stat-header-1, .move-delve-stat-column-1
  width 17%

.move-delve-column-stat-header-2, .move-delve-stat-column-2
  width 18%

.move-delve-column-stat-header-3, .move-delve-stat-column-3
  width 15%

.move-delve-column-header, .move-delve-column
  width 50%

.move-delve-row-header
  display flex
  padding 0 5px
  height auto
  border-bottom 2px solid $color_fg

.embedded-btn
  padding-top 0.2em !important
  // stdFont($type_body)

/*
input.optional-move-failures:checked ~ div.optional-move-failures, input.optional-move-sites:checked ~ div.optional-move-sites, input.optional-move-threat:checked ~ div.optional-move-threat, input.optional-move-rarity:checked ~ div.optional-move-rarity
  display block
*/