include ../../rolls/rolls.pug

mixin moveListButton(move)
  - statCheck = move.Triggers.find(trigger => { return trigger["Stat Options"] })
  if move['Progress Move']
    +progressRollBtn(move, 'roll-show icon-only')
  else if statCheck
    +moveRollBtn(move, 'roll-show icon-only')
  else
    +placeholderBtn(move, 'roll-show')