/* r20 default character sheet styles. add and remove as needed*/
.ui-dialog
  h1, h2, h3, h4, h5, h6, label
    color unset
  .no-touch .charsheet .repcontainer.editmode div.repitem:hover .itemcontrol
    background-color unset
  button[type=roll].ui-draggable-dragging
    z-index unset
    width unset
    height unset
    padding unset
    font-size unset
    margin unset
  button[type=roll].ui-draggable-dragging:before
    font-family unset
    content unset
  button.disabled
    opacity unset
    cursor unset
  .charmancer .sheet-choice
    display unset
  .charmancer.locked input
    opacity unset
    pointer-events unset
  .charmancer.locked span label
    pointer-events unset
  .charsheet
    padding unset
    p, ul, ol, button, span, input, textarea
      font-family unset
      font-size unset
      &.pictos
        font-family "Pictos"
    .btn, .btn.btn-default
      display unset
      padding unset
      margin-bottom unset
      font-size unset
      line-height unset
      color unset
      text-align unset
      text-shadow unset
      vertical-align unset
      background-color unset
      background-image unset
      background-repeat unset
      filter unset
      border-color unset
      border-color unset
      filter unset
      border unset
      border-bottom-color unset
      -webkit-border-radius unset
      -moz-border-radius unset
      border-radius unset
      -webkit-box-shadow unset
      -moz-box-shadow unset
      box-shadow unset
      cursor unset
      filter unset
      margin-left unset
    input
      height unset
      vertical-align unset
      -webkit-box-sizing unset
      -moz-box-sizing unset
      box-sizing unset
    hr
      clear unset
    input[type=number]
      width unset
    .sheet-row,
    .sheet-2colrow,
    .sheet-3colrow
      display unset
      clear unset
    .sheet-col
      display unset
      vertical-align unset
    .sheet-col img
      max-width unset
    .sheet-2colrow .sheet-col
      width unset
      margin-right unset
    .sheet-3colrow .sheet-col
      width unset
      margin-right unset
    .sheet-col:last-child
      margin-right unset
    button
      background none
      text-shadow unset
    button[type=roll],
    button[type=compendium]
      padding 0
      margin 0
      font-size unset
    button[type=roll]:before
      font-family unset
      content unset
    button[type=compendium]:before
      font-family unset
      content unset
    // .repcontrol_edit
    // .repcontainer .repitem
      // position unset
      // -webkit-box-sizing unset
      // -moz-box-sizing unset
      // box-sizing unset
    .repcontainer .repitem .itemcontrol
      // display unset
      // position unset
      width unset
      height unset
      // background-color unset
    .repitem.repitembroken
      border unset
    .repcontainer.editmode .repitem .itemcontrol
      // display unset
