@import "./icons.styl"

$sheet_width = 842px
$sheet_padding = 0
$breakpoint_mobile_width = 768px
$short_transition = 0.3s
$long_transition = 0.5s
// brand colours
$sf_black = #221E1F // not resampled yet
$sf_rich_black = #040506 // not resampled yet
$sf_ui_gray_dark = #B8C2CD // not resampled yet
$sf_ui_gray_light = #dde1e7 // not resampled yet
$sf_ui_blue = #28aae1 // strong hit
$sf_ui_purple = #892890 // weak hit
$sf_ui_red = #ce242b // miss
$sf_shallows = #3d8b8a // companion
$sf_forest = #40834f // deed
$sf_sky = #3f7faa // path
$sf_ocean = #495790 // support vehicle
$sf_oracle = #7f5a90 // module
$sf_iron = #9aa3ad // command vehicle
// basic ux colors
$color_fg = $sf_rich_black // old: #4c4d4f
$color_fg_alt = $sf_black // 'faded' foreground colour
$color_bg = #fff
$color_bg_alt = $sf_ui_gray_light // old: #e4e4e4. for alternating table rows, etc
$color_bg_alt_2 = $sf_ui_gray_dark
$color_fg_fade = blend(alpha($color_fg, 0.7), $color_bg)
$color_bg_fade = blend(alpha($color_bg, 0.7), $color_fg)
$color_input = $sf_ui_gray_dark // old: #ccc. inputBox background, when hovering over usable objects
$color_highlight = #fd0 // highlights active fields
$color_cta = $sf_ui_blue
$color_danger = $sf_ui_red



$sf_gradient_5 = ($sf_ui_blue #5175cf $sf_ui_purple #be0064 $sf_ui_red)


// 'close preview', 'delete', etc

// base text size
// $base_font_size

// typography
$type_display = "Exo", sans-serif
// $type_body = "Encode Sans Expanded", sans-serif
$type_body = "Encode Sans Semi Expanded", sans-serif
$type_header_sm = $type_body
$type_compact = "Encode Sans Condensed", sans-serif
$root_font_size = 16px
$h1_size = 2em
$h2_size = 1.5em
$h3_size = 1.17em
$h4_size = 1em
$string_line_height = 1 // for single lines of text like headers, buttons, labels, etc; makes it easier to control apparent padding/margins in a granular way
$body_line_height = 1.4
// typography - spacing
// "loose" is for headers, "tight" is for body text
$word_spacing_loose = 0.25ch // 1ch = width of font's '0' character
$word_spacing_tight = 0.1ch
$letter_spacing_loose = 0.05ch
$letter_spacing_tight = 0.025ch

typeSpacingLoose()
  word-spacing $word_spacing_loose
  letter-spacing $letter_spacing_loose

typeSpacingTight()
  word-spacing $word_spacing_tight
  letter-spacing $letter_spacing_tight

stdFont($primary = false)
  if ($primary)
    font-family $primary, Arial, sans-serif
  else
    font-family $type_body

borderCommon($width = 2px, $color = $color_fg)
  border $width solid $color

visOff(time = $long_transition)
  visibility hidden !important
  overflow hidden !important
  margin 0 !important
  padding 0 !important
  width 0 !important
  height 0 !important
  border 0 !important
  opacity 0 !important
  transition opacity time

visOn(time = $long_transition)
  visibility visible !important
  opacity 1 !important
  transition opacity time

fadeIn(time = $long_transition)
  visibility visible !important
  opacity 1 !important
  transition time

fadeOut(time = $long_transition)
  visibility hidden !important
  opacity 0 !important
  transition time
  // z-index -1

colorThemeDarkColor($color)
  background-color $color
  color #fff
  border-color #fff
  outline-color $color
  if contrast(@background-color, @color).ratio < 6
    text-stroke 2px #000
    -webkit-text-stroke 2px #000
    paint-order stroke fill

colorThemeLightColor($color)
  background-color $color_bg
  color $color
  border-color $color
  outline-color transparent
  if contrast(@background-color, @color).ratio < 6
    text-stroke 2px #000
    -webkit-text-stroke 2px #000
    paint-order stroke fill

colorThemeDark()
  background-color $color_fg
  color $color_bg

colorThemeLight()
  background-color $color_bg
  color $color_fg

labelTextLg($fontSize = 1em)
  stdFont($type_display)
  text-align center
  text-transform uppercase
  typeSpacingLoose()
  font-weight 600
  font-size $fontSize
  line-height $string_line_height

labelTextMed($fontSize = 1em)
  labelTextLg($fontSize)
  stdFont($type_header_sm)
  text-transform none
  typeSpacingTight()

labelTextSm($fontSize = 1em)
  labelTextMed($fontSize)
  stdFont($type_compact)
  font-weight 400

headerText()
  stdFont($type_display)

  text-transform uppercase

  typeSpacingLoose()

  font-weight 800
  line-height $string_line_height

headerTextSm()
  headerText()
  stdFont($type_header_sm)

  font-weight 700

bodyText()
  text-transform none

  typeSpacingTight()

  font-weight 400
  font-size 1em
  line-height $body_line_height

bodyTextLg()
  bodyText()
  stdFont($type_body)

bodyTextSm()
  bodyText()
  stdFont($type_compact)
  word-spacing 0
  letter-spacing 0
  line-height 1.25
  word-spacing 0.05ch
  letter-spacing 0
  // letter-spacing 0.01em;
  u
    text-decoration underline 0.075em solid currentColor
    text-underline-offset 0.15em


inputText()
  bodyText()
  line-height $string_line_height

inputTextLg()
  headerText()
  line-height $string_line_height

footerText()
  bodyTextSm()

  font-size 75%

interactiveHover($bg = $color_fg, $fg = $color_bg)
  &:hover:not(:disabled)
    interactiveAltColor($bg, $fg)
    text-decoration none

interactiveActive($bg = $color_fg, $fg = $color_bg)
  &:active
    interactiveAltColor($bg, $fg)
    text-decoration none

interactiveAltColor($fg = $color_bg, $bg = $color_fg)
  background-color $bg !important
  color $fg !important

interactiveFocus(shadow = 3px)
  outline 0 solid transparent
  box-shadow inset 0 0 0 0 transparent

  &:focus
    z-index 100 // so it renders above adjacent objects when focused
    outline 3px solid $color_highlight
    outline-offset 0
    box-shadow inset 0 0 0 shadow
    text-decoration none

interactiveBasic()
  cursor pointer
  transition-duration $short_transition
  // transition-property color, background-color, box-shadow, outline, mix-blend-mode

interactive(bg = $color_bg, fg = $color_fg)
  background-color bg
  color fg
  interactiveBasic()
  if focus == true
    interactiveFocus()
  interactiveActive(bg, fg)
  interactiveHover(bg, fg)

interactiveInactive(bg = $color_bg_alt, fg = $color_fg_alt)
  background-color bg
  color fg
  cursor not-allowed

  &:active, &:hover
    background-color inherit
    color inherit



btn($bgColor = $color_bg, $fgColor = $color_fg, $padding = 0.25em, $borderWidth = 2px)
  labelTextLg()
  interactive($bgColor, $fgColor)
  borderCommon($borderWidth)
  display flex
  justify-content center
  align-items center
  align-content center
  padding $padding
  height auto
  text-align center
  text-decoration none
  box-shadow none
  if contrast($bgColor, $fgColor).ratio < 6
    text-stroke 2px #000
    -webkit-text-stroke 2px #000
    paint-order stroke fill

inputBox()
  inputText()
  interactiveFocus()

  padding 0.125em 0.5ch
  border-radius 0
  background-color $color_bg_alt
  color $color_fg

embeddedInput()
  display flex
  align-items stretch
  padding 0
  background-color currentColor // shows only as 1px hairline gap between children
  gap 1px

  > *
    margin 0
    border 0

  > button, > label
    display flex
    flex 0
    width max-content
    border none

iconBtn(iconUrl)
  &:before
    position relative
    top 0
    left 0
    display block
    margin 0
    padding 2px
    width 100%
    height 100%
    border none
    background-color currentColor
    background-origin border-box
    content ""
    font-size unset
    line-height unset
    mask-image url(iconUrl)
    mask-size contain
    mask-repeat no-repeat
    mask-position center
    mask-origin content-box

bulletBefore(forTextSize, $iconUrl)
  margin-left: (forTextSize * 1.5)

  &:before
    display inline-block
    margin-right: (forTextSize / 4)
    margin-left -(forTextSize * 1)
    width: (forTextSize * 0.75)
    height: (forTextSize * 0.75)
    background-color currentColor
    content ""
    mask-image url($iconUrl)
    mask-size contain
    mask-repeat no-repeat

iconStandard($size=1em)
  display inline-block
  width $size
  height $size
  background-color currentColor
  content ""
  mask-size contain
  mask-repeat no-repeat
  mask-position center

iconBehind($iconUrl, $padding=2px)
  z-index 1
  position relative
  &:before
    iconStandard(5px, $iconUrl)
    height 100%
    width 100%
    position absolute
    z-index -1
    padding $padding
    box-sizing border-box
    mask-origin content-box

// places a double width stroke behind to fake an outside stroke
textOutline(strokeColor = black, strokeWidth = 2px)
  paint-order stroke fill
  // text-stroke (strokeWidth * 2) strokeColor
  -webkit-text-stroke (strokeWidth * 2) strokeColor

$hexagon_pointy = polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%)
$hexagon_flat = polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%)

hexagonMask()
  mask-image url("https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-ui-components/Ironsworn-Starforged/assets/ux/hex-checkbox-checked.svg")
  mask-position center
  mask-size contain
  mask-repeat no-repeat

// hexagonBg()
hexWidthToHeightPointy(hexWidth)
  ((hexWidth * 2) / math(3, sqrt))

hexClip(hexWidth) // sets width and height to ensure correct proportion
  width hexWidth
  height hexWidthToHeightPointy(hexWidth)
  clip-path $hexagon_pointy
  // TODO: as svg clip path? url + #id

hexCheckbox(hexWidth, emptyImage = "https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-ui-components/Ironsworn-Starforged/assets/ux/hex-checkbox-unchecked.svg")
  appearance none

  hexClip(hexWidth)

  width hexWidth
  height hexWidthToHeightPointy(hexWidth)
  border none
  background-color transparent
  background-image url(emptyImage)
  background-position center
  background-size 100%
  color currentColor
  cursor pointer
  transition $short_transition

  &:hover
    background-color $color_fg

  &:checked
    background-color currentColor

editToggle(parentClass)
  input[name=attr_editor-{parentClass}]
    &[value="off"]
      ~ .editor-on
        visOff()

      ~ .editor-off
        visOn()

    &[value="on"]
      ~ .editor-off
        visOff()

      ~ .editor-on
        visOn()

flexCenter()
  display flex
  justify-content center
  align-items center
  align-content center
  text-align center
  justify-items center

shrinkWrap()
  margin 0
  padding 0
  outline 0
  border 0

calloutBox()
  border 0
  background-color $sf_ui_gray_light
  padding 0.75em
  border-radius 1em
  input[type=text]
    background-color $color_bg


tag($bgColor=$color_danger)
  border-radius 0.5em
  padding 0.25em 0.5em
  colorThemeDarkColor($bgColor)
  labelTextSm()
disabled()
  pointer-events none !important
  opacity 0.25 !important
  &:hover
    color inherit
    background inherit

// hex with border for use with buttons
// in an ideal world this would be an embedded svg element instead
hexBorder($width, $background, $borderColor=currentColor)
  position relative
  width $width
  height hexWidthToHeightPointy($width)
  background $borderColor
  clip-path $hexagon_pointy
  &:before
    clip-path $hexagon_pointy
  &:before
    position absolute
    content ''
    top 2px
    left @top
    height calc(100% - 4px) //hardcoded for the moment cuz stylus is being shitty about sprint operands
    width @height
    background $background
    z-index: -2;

hexDoubleBorder($width, $background, $borderColor=currentColor, $borderColor2=currentColor)
  hexWidthBorder($width, $background, $borderColor)
  &:after
    clip-path inherit
    position absolute
    content ''
    top 4px
    left @top
    height calc(100% - 8px)
    width @height
    background $borderColor2
    z-index: -1;

hexDisplayBasic()
  display flex
  font-size 1.25em
  font-weight 800
  align-items center
  justify-content center

hexDisplay($width, $background, $borderColor)
  hexDisplayBasic()
  hexBorder($width, $background, $borderColor)


// hex border for items that can't have child elements, like input[type=text]
// s
hexNumberInput($width = 2.5ch)
  hexDisplayBasic()
  background-image url("https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-ui-components/Ironsworn-Starforged/assets/ux/hex-meter-box-unchecked.svg")
  appearance textfield
  padding 0
  text-align center
  box-shadow none
  border none
  hexClip($width)
  background-position center
  background-size contain


hexButton($bgColor, $fgColor=#fff, $width=2ch)
  interactiveBasic()
  color $fgColor
  border-width 0
  hexDisplay($width, $bgColor, $bgColor)
  align-self center
  padding 0
  border 0
  text-align center
  overflow visible
  border-radius 0
  display block
  outline none
  box-shadow none
  scale none
  &:hover
    background-color $bgColor
    color $bgColor
    &:before
      background-color $fgColor

rollableStatBox()
  border-radius 1em
  overflow clip
  borderCommon()
  padding-bottom 0.25em
  gap 0.25em
  display flex
  flex-direction column
  button[name='act_roll-action']
    btn($color_fg, $color_bg)
    border-width 0 0 1px
  .number-display
    align-self center
    display flex
    inputTextLg()
    gap 0.25em
    .increment-attr
      order 1
      hexButton($color_cta)
    input[type=number]
      hexNumberInput()
      order 2
    .decrement-attr
      order 3
      hexButton($color_danger)
