@import "./reset.styl"

$sf-black = #221E1F
$sf-rich-black = #040506
$sf-ui-gray-dark = #B8C2CD
$sf-ui-gray-light = #dde1e7
$sf-ui-blue = #28aae1
$sf-ui-purple = #842A8C // not resampled yet?
$sf-ui-red = #ce242b
$sf-shallows = #3d8b8a // companion
$sf-forest = #40834f // deed
$sf-sky = #3f7faa // path
$sf-ocean = #495790 // support vehicle
$sf-oracle = #7f5a90 // module
$sf-iron = #9aa3ad // command vehicle

$fg-color = $sf-black // old: #4c4d4f
$bg-color = #fff
$bg-color-alt = $sf-ui-gray-light // old: #e4e4e4. for alternating table rows, etc
$input-color = $sf-ui-gray-dark // old: #ccc. textinput background, when hovering over usable objects
$accent-color = #fd0 // highlights active fields

$header-font-lg = "Exo", sans-serif
$body-font = "Encode Sans Expanded", sans-serif
$header-font-sm = $body-font
$compact-font = "Encode Sans Condensed", sans-serif


borderCommon(width=2px)
  border width solid $fg-color

btn(fontSize = 14px)
  borderCommon()
  border-radius 0
  display flex
  width auto
  font-size fontSize
  padding 0
  cursor pointer
  background $bg-color

btnAttached(fontSize = 14px)
  btn(fontSize)
  border none
  border-right 1px solid $fg-color

inputHighlight(shadow)
  &:focus
    outline 3px solid $accent-color
    outline-offset 0
    box-shadow inset 0 0 0 shadow

hide()
  visibility hidden
  transition opacity 1s ease-out
  opacity 0
  height 0
  border none !important
  // box-sizing border-box
  overflow hidden

showHide(time = 0.2s)
  visibility visible
  height auto
  opacity 1
  transition time ease

dark()
  background $fg-color
  color $bg-color

interactiveHover(bg=$fg-color, fg=$bg-color)
  cursor pointer
  transition 0.5s ease
  &:hover
    background-color bg !important
    color fg !important

stdFont(primary = false)
  if primary
    font-family primary, Arial, sans-serif
  else
    font-family $body-font

iconBtn(iconUrl)
  &:before
    display block
    width 100%
    height 100%
    margin 0
    padding 0
    border none
    font-size unset
    line-height unset
    background-color currentColor
    background-origin border-box
    mask-image url(iconUrl)
    mask-size 90% // contain could also work, but this pads it out a bit
    mask-repeat no-repeat
    mask-position center
    mask-origin content-box
    top 0
    left 0
    position relative
    content ""

bulletBefore(size, iconUrl)
  margin-left (size * 1.5)
  &:before
    content '';
    display inline-block;
    height size
    width size
    -webkit-mask-image: url(iconUrl);
    -webkit-mask-size: contain;
    -webkitmask-repeat: no-repeat
    mask-image: url(iconUrl);
    mask-size: contain
    mask-repeat: no-repeat
    background-color currentColor
    margin-right (size / 4)
    margin-left -(size * 1.25)

headerText(wt = 900)
  text-transform uppercase
  font-weight wt

bodyText(fontFamily=$body-font, fontSize=14.3px, listIndent=1rem)
  li, p
    font-size fontSize
    font-weight normal
    line-height 1.25
  stdFont()
  ol, ul
    margin-left listIndent
  li
    list-style-type none
    bulletBefore(1rem, "https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-oracle-subcategories/Ironsworn-Starforged/src/app/img/bullet-8-point-star.svg")
  p
    margin 0