@import "./reset.styl"

$sf-black = #221E1F
$sf-rich-black = #040506
$sf-ui-gray-dark = #B8C2CD
$sf-ui-gray-light = #DDE1E7
$sf-ui-blue = #47AEDD
$sf-ui-purple = #842A8C
$sf-ui-red = #C50933
$sf-shallows = #4B8D89
$sf-forest = #4F8A4A
$sf-sky = #4a82a5
$sf-ocean = #4D598B
$sf-oracle = #7B5A8D
$sf-iron = #9BA3AD

$fg-color = $sf-black // old: #4c4d4f
$bg-color = #fff
$bg-color-alt = $sf-ui-gray-light // old: #e4e4e4. for alternating table rows, etc
$input-color = $sf-ui-gray-dark // old: #ccc. textinput background, when hovering over usable objects
$accent-color = #fd0 // highlights active fields

$header-font-lg = "Exo", sans-serif
$header-font-sm = "Montserrat", sans-serif
$body-font = "Montserrat", sans-serif
$compact-font = "Encode Sans Condensed", sans-serif


borderCommon(width=2px)
  border width solid $fg-color

btn(fontSize = 14px)
  borderCommon()
  border-radius 0
  display flex
  width auto
  font-size fontSize
  padding 0
  cursor pointer
  background $bg-color

btnAttached(fontSize = 14px)
  btn(fontSize)
  border none
  border-right 1px solid $fg-color

inputHighlight(shadow)
  &:focus
    outline 3px solid $accent-color
    outline-offset 0
    box-shadow inset 0 0 0 shadow

hide()
  visibility hidden
  transition opacity 1s ease-out
  opacity 0
  height 0
  border none !important
  // box-sizing border-box
  overflow hidden

showHide(time = 0.2s)
  visibility visible
  height auto
  opacity 1
  transition time ease

dark()
  background $fg-color
  color $bg-color

interactiveHover(bg=$fg-color, fg=$bg-color)
  cursor pointer
  transition 0.5s ease
  &:hover
    background-color bg !important
    color fg !important

stdFont(primary = false)
  if primary
    font-family primary, Arial, sans-serif
  else
    font-family $body-font

iconBtn(iconUrl)
  &:before
    display block
    width 100%
    height 100%
    margin 0
    padding 0
    border none
    font-size unset
    line-height unset
    background-color currentColor
    background-origin border-box
    mask-image url(iconUrl)
    mask-size 90% // contain could also work, but this pads it out a bit
    mask-repeat no-repeat
    mask-position center
    mask-origin content-box
    top 0
    left 0
    position relative
    content ""

bulletBefore(size, iconUrl)
  margin-left (size * 1.5)
  &:before
    content '';
    display inline-block;
    height size
    width size
    -webkit-mask-image: url(iconUrl);
    -webkit-mask-size: contain;
    -webkitmask-repeat: no-repeat
    mask-image: url(iconUrl);
    mask-size: contain
    mask-repeat: no-repeat
    background-color currentColor
    margin-right (size / 4)
    margin-left -(size * 1.25)