.impact-list
  display flex
  flex-flow row wrap
  justify-content space-evenly

flexList($gap = 0.25em)
  display flex
  margin 0
  gap $gap
  li
    display flex
    margin 0
    &:before
      content none

commaSeparated()
  &:not(:last-child)
    &:after
      content ", "
      display inline

.impact-config
  display grid
  grid-auto-columns 1fr
  gap 1em
  .modal-button
    max-width max-content
  .impact-group
    grid-row 1
    display flex
    flex-flow column
    gap 0.5em
  .custom-impacts
    grid-row 2
    grid-column span 4
  ul
    flexList(0.5em)

.impact-group-title
  text-align center

$impactPadding = 0.25em


boxTopLeftTitle($padding = 0.25em)
  display flex
  flex-direction row
  flex-wrap wrap
  gap $padding
  padding $padding
  borderCommon()
  border-radius 1em
  overflow clip
  .title
    btn($color_fg, $color_bg)
    align-self flex-start
    padding $padding
    margin-top ($padding*-1)
    margin-left ($padding*-1)
    border-bottom-right-radius 1em
    border-width 0 1px 1px 0

.impacts
  boxTopLeftTitle(0.25em)
  grid-row 1
  grid-column 2
  .toggle-impact
    border-radius 1em
    labelTextMed()


ul.impacts-active
  flexList()
  flex-flow row
  display: contents;
  .impact-control + li
    display none
  .impact-control[value="on"] + li
    display initial
    tag($color_danger)
    height stretch
    height -moz-available

.custom-impacts
  display flex
  .other-impacts-title
    width auto
    align-self center
    text-align: center;
  input[type=text]
    border 0
    border-bottom 2px solid $color_fg
    border-radius 0
    padding 0
