.impact-list
  display flex
  flex-flow row wrap
  justify-content space-evenly

flexList($gap = 0.25em)
  display flex
  margin 0
  gap $gap
  li
    display flex
    margin 0
    &:before
      content none

commaSeparated()
  &:not(:last-child)
    &:after
      content ", "
      display inline

.impact-config
  display grid
  grid-auto-columns 1fr
  gap 1em
  .modal-button
    max-width max-content
  .impact-group
    grid-row 1
    display flex
    flex-flow column
    gap 0.5em
  .custom-impacts
    grid-row 2
    grid-column span 4
  ul
    flexList(0.5em)

.impact-group-title
  text-align center

.page-summary
  .modal-button
    width max-content
  section
    &:not(.notes)
      display flex
      flex-flow row

.impacts
  display flex
  flex-flow row
  toggleBtn($color_danger)
  gap 0.5em
  .toggle-impact
    border-radius 1em
    subLabelText()

tag()
  borderCommon()
  border-radius 0.5em

ul.impacts-active
  flexList()
  flex-flow row
  .impact-control + li
    display none
  .impact-control[value="on"] + li
    display initial
    tag()
    colorThemeDarkColor($color_danger)




.custom-impacts
  display flex
  .other-impacts-title
    width auto
    align-self center
    text-align: center;
  input[type=text]
    border 0
    border-bottom 2px solid $color_fg
    border-radius 0
    padding 0
