include ../mixins/headers
include ../mixins/body
include ../mixins/outcomes

rolltemplate.sheet-rolltemplate-progress_move
  div.sheet-roll-container
    | {{#progress}}
    +progressRollHeader
    +progressRollBody
    | {{#rollGreater() progress challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +strongHitMatch
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() progress challenge2}}
    +strongHit
    | {{/rollGreater() progress challenge2}}
    | {{#^rollGreater() progress challenge2}}
    +weakHit
    | {{/^rollGreater() progress challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() progress challenge1}}
    | {{#^rollGreater() progress challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +missMatch
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() progress challenge2}}
    +weakHit
    | {{/rollGreater() progress challenge2}}
    | {{#^rollGreater() progress challenge2}}
    +miss
    | {{/^rollGreater() progress challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() progress challenge1}}
    | {{/progress}}