// Fonts
@css {

  @import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:i,400,500,600,700,800,900|Encode+Sans+Condensed:i,400,500,600,700,800,900|Encode+Sans+Semi+Expanded:i,400,500,600,700,800,900|Exo:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900&display=swap');
}
// Common
@import './common/stylus/shared'
// Sheet Core
.ui-dialog div.charsheet.charactersheet
  // lazy way of gaining some specificity over r20's css :)
  width 842px !important
  // padding 15px
  // margin 0 auto !important

  // baseline font settings
  font-size 16px // default for most browsers; since this is the sheet's 'root', it's the only place a 'hard' pixel value should be used
  stdFont()
  font-weight 400
  line-height 1.25
  h1, h2, h3, h4, h5, h6
    stdFont("Exo")
  // TODO contextually, using an H1 probably makes sense here: the sheet is its own self-contained document. this probably means switching it over
  // normally the other big reason to do this would be, like, SEO, but that's not a concern here
  span.i18n-text
    display contents
  // FIXME 'display: contents' accessibility bugs have been resolved on most major browsers except safari, but we don't need to worry about safari support (officially r20 only worries about FF and chrome anyways). the mobile version of r20 appears to pass through their app, so if anything we should test it there instead
  ol, ul
    margin-left 1em
  li
    list-style-type none
    bulletBefore(1em, "https://raw.githubusercontent.com/aureyia/roll20-character-sheets/starforged-ui-components/Ironsworn-Starforged/src/app/img/bullet-8-point-star.svg")
  p
    margin 0
  & *, ::before, ::after
    box-sizing border-box
  label
    cursor pointer
  input[type=text]
    font-weight: 500;
    inputHighlight(3px)
  select
    -webkit-appearance: none
    -moz-appearance: none
    text-indent: 1px
    text-overflow: ''
    // &:-ms-expand
    //   display: none

  // h1
  //   font-weight: bold
  //   width: 100%
  //   font-size: 28px
  //   text-align: center
  //   margin: 0 0 0px
  //   padding: 10
  //   text-transform: uppercase
  // h2
  //   font-weight: bold
  //   width: 100%
  //   font-size: 18px
  //   text-align: left
  //   margin: 0 0 0px
  //   padding: 0
  //   text-transform: uppercase
  // h3
  //   font-weight: bold
  //   width: 100%
  //   line-height 1.4em
  //   font-size 1.2em
  //   text-align: center
  //   margin: 0 0 0px
  //   padding: 0
  //   text-transform: uppercase
  //   &.divide
  //     &:after,
  //     &:before
  //       display: inline-block
  //       content: ""
  //       height: 5px
  //       border-top: 2px solid $color-fg
  //       top: 0
  //       width: 220px
  //   &.site-divide
  //     &:after,
  //     &:before
  //       display: inline-block
  //       content: ""
  //       height: 5px
  //       border-top: 2px solid $color-fg
  //       top: 0
  //       width: 331px
  //   &.site-denizens-divide
  //     &:after,
  //     &:before
  //       display: inline-block
  //       content: ""
  //       height: 5px
  //       border-top: 2px solid $color-fg
  //       top: 0
  //       width: 336px
  //   &.site-divide-notes
  //     &:after,
  //     &:before
  //       display: inline-block
  //       content: ""
  //       height: 5px
  //       border-top: 2px solid $color-fg
  //       top: 0
  //       width: 352px
  // .divide
  //   margin-top 1em
  hr
    border: 0
    height: 1px
    background $color-input
    background-image: linear-gradient(to right, $color-input, #333, $color-input)
  textarea
    max-width 828px
    border: 2px solid $color-fg
    font-weight normal
  .impacts
    margin-bottom: 0px
  .debility
    display: flex
    flex-flow: row wrap
  .flex-container
    display flex
    align-items flex-start
  .flex-wrapper
    display flex
    flex-direction column
    margin-bottom 10px
    font-weight normal
    padding 0.5em
  .track-box-input
    width: 80px
    height: 45px !important
    opacity: 0
    vertical-align: top
  .track-box-back
    width: 80px
    height: 45px
    margin-top: -45px
  .track-box-input:hover ~ .track-box-back,
  .resources-box-input:hover ~ .resources-box-back
    background: $color-input
    transition: .5s ease;
  .track-box-input:checked ~ .track-box-back,
  .resources-box-input:checked ~ .resources-box-back
    background: $color-fg
    color: $color-bg
    transition: .5s ease;
  .track-box-value
    padding: 0px
    font-weight: bold
    height: 35px
    padding-top: 10px
    font-size: 18px
    color: inherit
  .pc-name
    width: 100%
    font-weight: bold
    font-size: 14px
    border: 2px solid $color-fg
    background: #E6E7E8
    color: $color-fg
    border-radius: 0
  .debil-desc
    width: 100%
    font-weight: bold
    font-size: 14px
  .border
    border: 1px solid $color-input
    border-radius: 4px
  textarea.full-width
    width: 95%
    resize: vertical
  // input.filler[type="radio"],
  // input[type="checkbox"].checkbox
  //   opacity: 0
  //   width: 16px
  //   height: 16px
  //   position: relative
  //   top: 5px
  //   left: 6px
  //   margin: -10px
  //   cursor: pointer
  //   z-index: 1
  /* Fake radio/checkbox */
  // input[type="radio"] + span:before,
  // input[type="checkbox"].checkbox + span:before
  //   margin-right: 4px
  //   border: solid 1px #a8a8a8
  //   line-height: 14px
  //   text-align: center
  //   display: inline-block
  //   vertical-align: middle
  //   -moz-box-shadow: 0 0 2px $color-input
  //   -webkit-box-shadow: 0 0 2px $color-input
  //   box-shadow: 0 0 2px $color-input
  //   background: #f6f6f6
  //   background: -moz-radial-gradient(#f6f6f6, #dfdfdf)
  //   background: -webkit-radial-gradient(#f6f6f6, #dfdfdf)
  //   background: -ms-radial-gradient(#f6f6f6, #dfdfdf)
  //   background: -o-radial-gradient(#f6f6f6, #dfdfdf)
  //   background: radial-gradient(#f6f6f6, #dfdfdf)
  // input[type="checkbox"].checkbox + span:before,
  // input.filler[type="radio"] + span:before
  //   content: ""
  //   width: 14px
  //   height: 14px
  //   font-size: 12px
  //   -moz-border-radius: 3px
  //   -webkit-border-radius: 3px
  //   border-radius: 3px
  // input[type="checkbox"].checkbox:checked + span:before
  //   content: "■"
  // input.zeroxp[type="radio"] + span:before
  //   content: "0" !important
  // input.filler[type="radio"] + span:before
  //   content: "■"
  /* Remove dot from all radios _after_ selected one */
  // input.filler[type="radio"]:checked ~ input.filler[type="radio"] + span:before
  //   content: ""
  span.switchable-display:checked
    background-color: $color-fg
    color: $color-bg
    transition: .5s ease;
  span.switchable-display
    display: inline
    border: 1px solid $color-input
    margin-right: 11px
    border-radius: 4px
    padding: 2px 4px
    font-weight: bold
    font-size: 14px
  span.switchable-display:hover
    cursor: pointer
    border-radius: 4px
    padding: 2px 4px
    background-color: $color-input
    color: $color-fg
    transition: .5s ease;
  div.preview-roll
    padding: 0em
  span.preview-roll
    width: 30%
    margin-left: 1em
  .button-container-preview
    width: 2.4em
  .no-border
    border: 0
  .requirement-area
    height: auto
    margin-bottom: 5px
  input.border-bottom
    border-bottom: 1px solid $color-fg
    border-radius: 0em
  .full-width
    width: 100%
    margin-top: 0.3em
  .note-area
    border-radius 1em
  h3, h2
    letter-spacing: 0.05rem;
  u
    text-decoration: underline 1pt solid currentColor
  .hex-icon
    object-fit contain
    $iconWidth = 64px
    &.vector
      width $iconWidth
      height hexWidthToHeight($iconWidth)
    &.raster
      hexagonClip($iconWidth)
// nested block import doesn't seem to work properly, meaning i gotta do this one by one

// Pages
.ui-dialog div.charsheet.charactersheet
  @import './pages/index'
// generic widgets and other components, should be overwritten by more specific styling below
// .ui-dialog div.charsheet.charactersheet
//   @import './common/stylus/pager'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/preview'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/listgroup'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/buttons'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/repeating'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/rulesarticle'
.ui-dialog div.charsheet.charactersheet
  @import './components/resources/resources'
.ui-dialog div.charsheet.charactersheet
  @import './components/impacts/impacts'
.ui-dialog div.charsheet.charactersheet
  @import './components/connections/connections'
.ui-dialog div.charsheet.charactersheet
  @import './components/vows/vows'
.ui-dialog div.charsheet.charactersheet
  @import './components/progress/progress'
.ui-dialog div.charsheet.charactersheet
  @import './components/tabs/tabs'
.ui-dialog div.charsheet.charactersheet
  @import './components/momentum/momentum'
.ui-dialog div.charsheet.charactersheet
  @import './components/stats/stats'
.ui-dialog div.charsheet.charactersheet
  @import './components/notes/notes'
.ui-dialog div.charsheet.charactersheet
  @import './components/moves/moves'
.ui-dialog div.charsheet.charactersheet
  @import './components/assets/assets'
.ui-dialog div.charsheet.charactersheet
  @import './components/oracles/oracles'
.ui-dialog div.charsheet.charactersheet
  @import './components/legacies/tracks'

// Roll Templates
@import './roll-templates/template'