// Fonts
@css {

  @import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,500,600,700,800,900|Encode+Sans+Condensed:i,400,500,600,700,800,900|Exo:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900&display=swap');
}
// Common
@import './common/stylus/shared'
// Sheet Core
.ui-dialog div.charsheet.charactersheet
  // lazy way of gaining some specificity over r20's css :)
  width 842px !important
  margin 0 auto !important
  padding 15px
  stdFont($body-font)
  font-weight normal
  & *, ::before, ::after
    box-sizing border-box
  bodyText()
  input[type=text]
    font-weight: 600;
    inputHighlight(3px)
  select
    -webkit-appearance: none
    -moz-appearance: none
    text-indent: 1px
    text-overflow: ''
    &:-ms-expand
      display: none
  h1
    font-weight: bold
    width: 100%
    font-size: 28px
    text-align: center
    margin: 0 0 0px
    padding: 10
    text-transform: uppercase
  h2
    font-weight: bold
    width: 100%
    font-size: 18px
    text-align: left
    margin: 0 0 0px
    padding: 0
    text-transform: uppercase
  h3
    font-weight: bold
    width: 100%
    line-height 1.4em
    font-size 1.2em
    text-align: center
    margin: 0 0 0px
    padding: 0
    text-transform: uppercase
    &.divide
      &:after,
      &:before
        display: inline-block
        content: ""
        height: 5px
        border-top: 2px solid $fg-color
        top: 0
        width: 220px
    &.site-divide
      &:after,
      &:before
        display: inline-block
        content: ""
        height: 5px
        border-top: 2px solid $fg-color
        top: 0
        width: 331px
    &.site-denizens-divide
      &:after,
      &:before
        display: inline-block
        content: ""
        height: 5px
        border-top: 2px solid $fg-color
        top: 0
        width: 336px
    &.site-divide-notes
      &:after,
      &:before
        display: inline-block
        content: ""
        height: 5px
        border-top: 2px solid $fg-color
        top: 0
        width: 352px
  .divide
    margin-top 1em
  h4
    font-weight: bold
    width: 100%
    font-size: 16px
    text-align: center
    margin: 0 0 0px
    padding: 0
    text-transform: uppercase
    &.tab-title
      display: inline-block
  h5
    font-weight: bold
    font-size: 12px
    text-align: left
    margin: 0 0 0px
    padding: 0
    text-transform: uppercase
  h6
    font-size: 14px
    font-weight: bold
    text-align: left
    margin-top: 2px
  .heading-left
    text-align: left
  hr
    border: 0
    height: 1px
    background $input-color
    background-image: linear-gradient(to right, $input-color, #333, $input-color)
  textarea
    max-width 828px
    border: 2px solid $fg-color
    font-weight normal
  .impacts
    margin-bottom: 0px
  .debility
    display: flex
    flex-flow: row wrap
  .flex-container
    display flex
    align-items flex-start
  .flex-wrapper
    display flex
    flex-direction column
    margin-bottom 10px
    font-weight normal
    padding 0.5em
  .track-box-input
    width: 80px
    height: 45px !important
    opacity: 0
    vertical-align: top
  .track-box-back
    width: 80px
    height: 45px
    margin-top: -45px
  .track-box-input:hover ~ .track-box-back,
  .resources-box-input:hover ~ .resources-box-back
    background: $input-color
    transition: .5s ease;
  .track-box-input:checked ~ .track-box-back,
  .resources-box-input:checked ~ .resources-box-back
    background: $fg-color
    color: $bg-color
    transition: .5s ease;
  .track-box-value
    padding: 0px
    font-weight: bold
    height: 35px
    padding-top: 10px
    font-size: 18px
    color: inherit
  .pc-name
    width: 100%
    font-weight: bold
    font-size: 14px
    border: 2px solid $fg-color
    background: #E6E7E8
    color: $fg-color
    border-radius: 0
  .debil-desc
    width: 100%
    font-weight: bold
    font-size: 14px
  .border
    border: 1px solid $input-color
    border-radius: 4px
  textarea.full-width
    width: 95%
    resize: vertical
  input.filler[type="radio"],
  input[type="checkbox"].checkbox
    opacity: 0
    width: 16px
    height: 16px
    position: relative
    top: 5px
    left: 6px
    margin: -10px
    cursor: pointer
    z-index: 1
  /* Fake radio/checkbox */
  input[type="radio"] + span:before,
  input[type="checkbox"].checkbox + span:before
    margin-right: 4px
    border: solid 1px #a8a8a8
    line-height: 14px
    text-align: center
    display: inline-block
    vertical-align: middle
    -moz-box-shadow: 0 0 2px $input-color
    -webkit-box-shadow: 0 0 2px $input-color
    box-shadow: 0 0 2px $input-color
    background: #f6f6f6
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf)
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf)
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf)
    background: -o-radial-gradient(#f6f6f6, #dfdfdf)
    background: radial-gradient(#f6f6f6, #dfdfdf)
  input[type="checkbox"].checkbox + span:before,
  input.filler[type="radio"] + span:before
    content: ""
    width: 14px
    height: 14px
    font-size: 12px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    border-radius: 3px
  input[type="checkbox"].checkbox:checked + span:before
    content: "■"
  input.zeroxp[type="radio"] + span:before
    content: "0" !important
  input.filler[type="radio"] + span:before
    content: "■"
  /* Remove dot from all radios _after_ selected one */
  input.filler[type="radio"]:checked ~ input.filler[type="radio"] + span:before
    content: ""
  span.showhide:checked
    background-color: $fg-color
    color: $bg-color
    transition: .5s ease;
  span.showhide
    display: inline
    border: 1px solid $input-color
    margin-right: 11px
    border-radius: 4px
    padding: 2px 4px
    font-weight: bold
    font-size: 14px
  span.showhide:hover
    cursor: pointer
    border-radius: 4px
    padding: 2px 4px
    background-color: $input-color
    color: $fg-color
    transition: .5s ease;
 .showhide
    hide()
  .hide-element
    display none
  input[type='checkbox'].hide-element, input[type='radio'].hide-element
    display none
  div.hide-element
    display none
  div.preview-roll
    padding: 0em
  input.showhide:checked + .showhide
    showHide()
  span.preview-roll
    width: 30%
    margin-left: 1em
  .button-container-preview
    width: 2.4em
  .no-border
    border: 0
  .requirement-area
    height: auto
    margin-bottom: 5px
  input.border-bottom
    border-bottom: 1px solid $fg-color
    border-radius: 0em
  .full-width
    width: 100%
    margin-top: 0.3em
  .note-area
    border-radius 1em
  h3, h2, .oracle-title, .move-title
    letter-spacing: 0.05rem;
  u
    text-decoration: underline 1pt solid currentColor


  // block import doesn't seem to work properly
.ui-dialog div.charsheet.charactersheet
  // Pages
  @import './pages/index'
.ui-dialog div.charsheet.charactersheet
  @import './components/resources/resources'
.ui-dialog div.charsheet.charactersheet
  @import './components/impacts/impacts'
.ui-dialog div.charsheet.charactersheet
  @import './components/connections/connections'
.ui-dialog div.charsheet.charactersheet
  @import './components/vows/vows'
.ui-dialog div.charsheet.charactersheet
  @import './components/progress/progress'
.ui-dialog div.charsheet.charactersheet
  @import './components/nav/nav-bar'
.ui-dialog div.charsheet.charactersheet
  @import './components/momentum/momentum'
.ui-dialog div.charsheet.charactersheet
  @import './components/stats/stats'
.ui-dialog div.charsheet.charactersheet
  @import './components/notes/notes'
.ui-dialog div.charsheet.charactersheet
  @import './components/moves/moves'
.ui-dialog div.charsheet.charactersheet
  @import './components/assets/assets'
.ui-dialog div.charsheet.charactersheet
  @import './components/assets/asset-svgs'
.ui-dialog div.charsheet.charactersheet
  @import './components/oracles/oracles'
.ui-dialog div.charsheet.charactersheet
  @import './components/legacies/tracks'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/preview'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/listGroup'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/buttons'
.ui-dialog div.charsheet.charactersheet
  @import './components/generic/repeating'
// Roll Templates
@import './roll-templates/template'