
.sheet-rolltemplate-starforged_moves, .sheet-rolltemplate-alert, .sheet-rolltemplate-momentum_burn, .sheet-rolltemplate-ironsworn_move
  > .sheet-roll-container
    .sheet-momentum-burn.sheet-btn
      > a
        padding 0.25em
    .sheet-action-score
      gap 0.5em
    .sheet-arithmetic
      align-items center
      bodyTextLg()
      display flex
      flex-flow row
      color $color_fg_roll_body
      font-weight 500
      font-size 1em
      gap 0.25ch
      .sheet-action-die, .sheet-stat, .sheet-adds
        .inlinerollresult
          padding 0
          min-width unset
          border 0
          border-radius 0
          color inherit
          font-weight inherit
          font-size inherit
      .sheet-total
      // action score gets a circle (paralleling the book)
        margin-left 0.25ch
        border 1.5px solid $color_fg_roll_body
        border-radius 1em
