.legacies
  display grid
  grid-gap 0.5em

  .progress-boxes
    display grid
    justify-content space-between
    text-transform uppercase
    grid-auto-flow column

  .title
    padding 0.3em 0em 0em 0em
    font-weight bold

  .ten-marker
    margin 0
    padding 0
    height fit-content
    justify-self right

  .legacy-roll
    margin 0

$legacies = { $name: quests, $color: $sf_ui_red, $icon: $icon_legacy_quests } { $name: bonds, $color: $sf_ui_purple, $icon: $icon_legacy_bonds } { $name: discoveries, $color: $sf_ui_blue, $icon: $icon_legacy_discoveries }

.legacy-track
  colorThemeDark()
  display grid
  grid-gap 0.3em
  grid-template-columns auto
  grid-auto-columns auto
  border-radius 1em
  padding 1.5em
  margin 0
  position relative
  &:after
    content ''
    position absolute
    height stretch
    width stretch
    height -moz-available
    width -moz-available
    background none
    border-radius 0.5em
    border 4px solid
    top 0.5em
    bottom 0.5em
    left 0.5em
    right 0.5em
    pointer-events none
  for $legacy in $legacies
    &.{$legacy[$name]}
      .title
        iconBefore(1em, $legacy[$icon], 0)
      .progress-track-bar
        &:hover
          color $legacy[$color]
      &:after
        border-color $legacy[$color]
  .title
    grid-column 1
    display flex
    gap 0.25 em
  .progress-track-bar
    grid-column 1
  button[name=act_roll-progress]
    btn($color_fg, $color_bg)
    grid-column 2
    height max-content
    width max-content
    &:after
      height 100%

$progress_box_size = 4em
$xp_box_size = $progress_box_size/5
$xp_box_border = 2px
$container_height = $progress_box_size + ($xp_box_size/2)


.legacies
  .progress-box
    height $container_height
    display grid
    grid-template-areas "select" "overlap" "checks"
    // grid-template-rows 1fr ($xp_box_size/2) ($xp_box_size/2)
    grid-template-columns max-content
    .progress-box
      width $progress_box_size
      height $progress_box_size
      grid-column 1
      grid-row-start select-start
      grid-row-end overlap-end
      align-self self-start
    .experience-boxes
      grid-column 1
      grid-row-start overlap-start
      grid-row-end checks-end
      align-self self-end
      height max-content


.experience-boxes
  box-sizing border-box
  visibility hidden
  opacity 0
  pointer-events none
  flex-flow row
  gap 2px
  border 2px solid $color_fg
  background $color_fg
  border-radius 0.3em
  overflow clip
  justify-self center
  transition 0.25s ease-in-out
  .progress-box-control[value^="4"] ~ &
    display flex
    visibility visible
    opacity 1
    pointer-events auto
    z-index 101

.experience-box
  interactive($color_bg, $color_cta)
  appearance none
  border 0
  margin 0
  padding 0
  height $xp_box_size
  width $xp_box_size
  cursor pointer
  background-color $color_bg
  // .progress-box-control[value^="4"] ~ .experience-boxes &
  //   &:checked
  //     background-color $color_cta
  &:checked
    background-color $color_cta