
for $oracleId, $oracleData in $oracles
  unless $oracleData.parent||$oracleData.subcategory
    input[name=attr_oracle-preview-display]
      &[value={$oracleId}]
        ~ .preview-main .{$oracleId}
          display grid
        ~ .preview-list [value={$oracleId}]
          interactiveAltColor($color_bg, $color_fg)
      &:not([value={$oracleId}]) ~ .preview-main .{$oracleId}
        display none

.page-oracles
  display flex

.oracle-row:nth-child(2n)
  background-color $color_bg_alt
